{% extends 'lab/base.html' %}
{% load i18n %}
{% block content %}
<div>
    <h1 class="ui header">{% blocktrans %}Lab Interface - Beutel Management{% endblocktrans %}</h1>
    <div class="ui menu">
        <a class="item active">
            Statistiken
        </a>
        <a class="item">
            Ausgabe
        </a>
        <a class="item">
            Verwaltung
        </a>
    </div>
    <p>
        {% blocktrans %}
        Suche nach einer oder mehrerer Beutel IDs - Mehrere IDs mit Komma trennen (ID1, ID2, ID3):
        {% endblocktrans %}
    </p>
    <form action="{% url 'app:bag_management' %}" method="post">
        <div class="ui action input">
            <input
                    name="search"
                    type="text"
                    placeholder="{% blocktrans %}Beutel ID...{% endblocktrans %}"
                    autofocus
            >
            <button class="ui button" type="submit">
                Suchen
            </button>
        </div>
        <div class="results"></div>
    </form>

    <table class="ui celled red padded structured table">
        <thead>
        <tr>
            <th colspan="9">
                <div class="ui right floated small primary labeled icon button">
                    <i class="download icon"></i>CSV Exportieren
                </div>
            </th>
        </tr>
        <tr>
            <th rowspan="2">Institut</th>
            <th rowspan="2">Kontaktperson</th>
            <th rowspan="2">EMail</th>
            <th rowspan="2">Telefon</th>
            <th rowspan="2">Bag ID</th>
            <th rowspan="2">Ausgegeben Von</th>
            <th colspan="3">Status</th>
        </tr>
        <tr>
            <th>PRINTED</th>
            <th>PCRPOS</th>
            <th>PCRNEG</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><h4 class="ui center aligned header">Institut A</h4></td>


            <td class="right aligned">Max Mustermann</td>
            <td>
                info@mail.com
            </td>
            <td>
                015254851475
            </td>
            <td><h4 class="ui center aligned header">22</h4></td>
            <td>
                lab user 1
            </td>
            <td class="center aligned">
                7
            </td>
            <td class="center aligned negative">
                10
            </td>
            <td class="center aligned positive">
                14
            </td>
        </tr>
        <tr>
            <td rowspan="3"><h4 class="ui center aligned header">Institut B</h4></td>
            <td class="right aligned" rowspan="3">Max Mustermann</td>


            <td rowspan="3">
                info@mail.com
            </td>
            <td rowspan="3">
                015254851475
            </td>
            <td><h4 class="ui center aligned header">25</h4></td>
            <td>
                lab user 2
            </td>
            <td class="center aligned">
                2
            </td>
            <td class="center aligned negative">
                8
            </td>
            <td class="center aligned positive">
                10
            </td>
        </tr>
        <tr>
            <td><h4 class="ui center aligned header">26</h4></td>
            <td>
                lab user 1
            </td>
            <td class="center aligned">
                1
            </td>
            <td class="center aligned negative">
                9
            </td>
            <td class="center aligned positive">
                14
            </td>
        </tr>
        <tr>
            <td><h4 class="ui center aligned header">27</h4></td>
            <td>
                lab user 3
            </td>
            <td class="center aligned">
                12
            </td>
            <td class="center aligned negative">
                4
            </td>
            <td class="center aligned positive">
                10
            </td>
        </tr>
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th>2 Institute</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        </tfoot>
    </table>
</div>
{% endblock %}