    {% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'COVID19-LAB' %}</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <style>
        body {
            background-color: #ecf0f1;
        }
        .ui.segment{
            margin-left: auto;
            margin-right: auto;
            padding: 40px;
            max-width: 1200px;
        }
    </style>
</head>
{% include 'lab/snippets/menubar.html' %}
{% if messages %}
{% for message in messages %}
<div style="margin: 10px;" class="ui message {% if message.tags %}{{ message.tags }}{% endif %}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="ui segment">
    {% block content %}{% endblock %}
</div>
</body>
</html>