{% extends 'lab/base.html' %}
{% load i18n %}

{% block content %}
<div class="">
    <h1 class="ui header">Lab Interface - Generate Barcodes</h1>
    <p>
        Hier können Barcodes generiert werden:
    </p>

    <form style="margin-bottom: 20px;" action="{% url 'app:barcodes' %}" method="post" class="ui form">
        {% csrf_token %}

        <div class="form field">
        <label>{{ form.count.label }}</label>
        {{ form.count }}
        </div>

        <div class="form field">
        <label>{{ form.key.label }}</label>
        {{ form.key }}
        </div>

        <button class="ui button" name="generate" type="submit">Generieren</button>
    </form>

</div>
{% endblock %}
