{% extends 'lab/base.html' %}
{% load i18n %}
{% load permissions %}
{% block content %}
<div>
    <h1 class="ui header">{% blocktrans %}Lab Interface - Home{% endblocktrans %}</h1>
    <p>
        {% blocktrans %}
        Laborinterface, zur Bearbeitung und Erfassung von Proben. Folgende Prozesse stehen zur Verfügung:
        {% endblocktrans %}
    </p>

    {% if user|is_in_group:"lab_user" %}
    <a href="{% url 'app:query'  %}" style="color: inherit">
        <div class="ui segment" style="margin-top: 30px; padding: 30px">
            <h3 class="ui header">
                {% blocktrans %}Proben Suchen{% endblocktrans %}
            </h3>

            <p>
                Proberöhrchen nach Barcode, Access Code, Bag, Rack oder Status suchen, sowie Status und Rack manuell setzen.
            </p>
        </div>
    </a>
    <a href="{% url 'app:checkin'  %}" style="color: inherit">
        <div class="ui segment" style="margin-top: 30px; padding: 30px">

            <h3 class="ui header">
                {% blocktrans %}Mehrere Proben Bearbeiten{% endblocktrans %}
            </h3>
            <p>
                Status, Rack und Kommentar einer oder mehrerer Proben gleichzeitig bearbeiten.
            </p>
        </div>
    </a>
    {% else %}
    <a href="{% url 'app:query'  %}" style="color: inherit">
        <div class="ui segment" style="margin-top: 30px; padding: 30px">
            <h3 class="ui header">
                {% blocktrans %}Proben Suchen{% endblocktrans %}
            </h3>
            <p>
                {% blocktrans %}
                Hier können einzelne Proberöhrchen gesucht werden.
                {% endblocktrans %}
            </p>
        </div>
    </a>
    {% endif %}

</div>
{% endblock %}
