{% extends 'lab/base.html' %}
{% load i18n %}

{% block content %}
<div class="">
    <h1 class="ui header">{% blocktrans %}Lab Interface - Suche{% endblocktrans %}</h1>
    <p>
        {% blocktrans %}
        Hier können Barcodes gesucht werden:
        {% endblocktrans %}
    </p>

    <form style="margin-bottom: 20px;" action="{% url 'app:query' %}" method="post" class="ui form">
        {% csrf_token %}
        <div class="ui search">
            <div class="ui icon input">
                <input name="search" class="prompt" type="text"
                       placeholder="{% blocktrans %}Search Barcode...{% endblocktrans %}" autofocus>
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </form>

    {% if search %}
    <p>{% blocktrans %}Ergebnis für: {% endblocktrans %} {{ search }}</p>
    {% endif %}


    {% if sample %}
    {% include 'lab/snippets/sample.html' %}
    {% elif search %}
    <div class="ui warning message">
        <p>{% blocktrans %}Keine Probe mit diesem Barcode gefunden.{% endblocktrans %}</p>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
