{% extends 'lab/base.html' %}
{% load i18n %}

{% block content %}
<div class="">
    <h1 class="ui header">Lab Interface - Suche</h1>
    <p>
        Suche nach Barcodes, Access Codes, Bags, Racks oder Status:
    </p>

    <form style="margin-bottom: 20px;" action="{% url 'app:query' %}" method="post">
        {% csrf_token %}
            <div class="ui action input">
                <input
                        name="search"
                        type="text"
                        placeholder="Enter barcode/access code/bag/rack..."
                        autofocus
                        style="min-width: 270px"
                >
                <select class="ui compact selection dropdown" name="search_category">
                    <option value="all">All</option>
                    <option value="barcode">Barcode</option>
                    <option value="accessCode">Access code</option>
                    <option value="bag">Bag</option>
                    <option value="rack">Rack</option>
                    <option value="status">Status</option>
                </select>
                <button class="ui button" type="submit">
                    Suchen
                </button>
            </div>
            <div class="results"></div>
    </form>

    {% if search %}
    {% if not sample %}
    <h3 class="ui header">
        {{ multi_sample|length }}
        {% if multi_sample|length == 1 %}
        Ergebnis
        {% else %}
        Ergebnisse
        {% endif %}
        für: {{search}}
    </h3>
    {% endif %}
    {% endif %}


    {% if sample %}
    {% include 'lab/snippets/sample.html' %}
    {% elif multi_sample %}
    {% include 'lab/snippets/multi_sample.html' %}
    {% elif search %}
    <div class="ui warning message">
        <p>Keine Probe gefunden.</p>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
