{% extends 'lab/base.html' %}
{% load i18n %}

{% block content %}
<script>
  $(window).ready(function () {
    if ($("input[name=rack]").val() == "") {
      var input = $("input[name=rack]");
      input.focus();
      input.select();
    }
    $("input[name=rack]").on("keypress", function (event) {
      var keyPressed = event.keyCode || event.which;
      if (keyPressed === 13) {
        event.preventDefault();
        var input = $("input[name=barcode]");
        input.focus();
        input.select();
        return false;
      }
    });
  });


  $('.ui.positive.message')
    .modal({
      onShow: function () {
        $(".ui.dimmer").css("background-color", "rgba(0,255,0,0.8)");
      },
    })
    .modal('show')
    .delay(400)
    .queue(function () {
      $(this).modal('hide').dequeue();
    });

  $('.ui.error.message')
    .modal({
      onShow: function () {
        $(".ui.dimmer").css("background-color", "rgba(255,0,0,0.8)");
      }
    })
    .modal('show')
    .delay(1000)
    .queue(function () {
      $(this).modal('hide').dequeue();
    });


</script>

<style>
    .ui.dimmer {
        background-color: rgba(0, 255, 0, 0.7);
    }


</style>


<div>

    {{ form.errors }}
    {{ form.non_field_errors }}

    <h1 class="ui header">Proben - Mehrere Bearbeiten</h1>

    <p>
        Zunächst Barcodes der Proben eingeben um anschließend den Status, Rack Barcode oder ein Kommentar zu setzen.
    </p>

    <form style="margin-bottom: 20px;" action="{% url 'app:checkin' %}" method="post" class="ui form">
        {% csrf_token %}


        <div class="ui large form">
            <div class="three fields">
                <div class="required field">
                    <label>{{ form.barcodes.label }}</label>
                    {{ form.barcodes }}
                </div>
                <div class="required field">
                    <label>Status</label>
                    {{ form.status }}
                </div>
            </div>
            <div class="field">
                <label>{{ form.rack.label }}</label>
                {{ form.rack }}
            </div>
            <div class="field">
                <label>{{form.comment.label}}</label>
                {{ form.comment }}
            </div>
            <br>
            <button class="ui button" type="submit">Abschicken</button>
        </div>
    </form>
    {% if no_success %}
    <div class="ui segment">

        Probleme beim Eintragen folgender Proben:
        <ul>
            <li>
                Barcode nicht in der Datenbank: {{ barcodes_not_in_db|join:", "}}
            </li>
            <li>
                Status konnte nicht gesetzt werden: {{ status_not_set|join:", " }}
            </li>
            <li>
                Rack konnte nicht gesetzt werden: {{ rack_not_set|join:", " }}
            </li>
        </ul>

         Folgende Proben wurden erfolgreich eingetragen:
        <ul>
            <li>
                {{ successful_barcodes|join:", "}}
            </li>
        </ul>

    </div>
    {% endif %}

</div>
{% endblock %}
