{% extends 'lab/base.html' %}
{% load i18n %}
{% load semanticui %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="">
    <h1 class="ui header">Lab Interface - Samples</h1>


    {% if search %}
    <p>Ergebnis für: {{ search }}</p>
    {% endif %}

    {% if filter %}
    <form class="ui form" action="" method="get" class="form form-inline">
        {% render_form filter.form %}
        <button class="ui button">filter</button>
    </form>
    {% endif %}
{% render_table table %}


</div>
</div>
{% endblock %}
