{% extends 'base.html' %} {% block content %}
<div class="container content">
  <h3>{% trans %}Unregistrierter Barcode{% endtrans %}</h3>
  <p class="lead">
    {{ gettext('Für diesen Barcode (%(barcode)) wurden noch keine Kontakt-Daten
    eingetragen.', barcode=barcode) }}
  </p>
  <p class="lead">
    {% trans %}Bitte das folgende Registrierungs-Formular ausfüllen, bevor Sie
    das Ergebnis abfragen können:{% endtrans %}
    <a href="{{ url_for('site.consent') }}"
      >{% trans %}Registrierungs-Formular{% endtrans %}</a
    >
  </p>
</div>
{% endblock %}
