{% extends "base.html" %} {% block content %}
<div class="ui segment content">
  <h2>{% trans %}Kontakt{% endtrans %}</h2>
  <p>{% trans %}Diese Studie wird organisert vom {% endtrans %}</p>
  <ul style="list-style-type: none">
    <li>
      {% trans %}<strong
        >Zentrum für Molekularbiologie der Universität Heidelberg (ZMBH) <br />
        Im Neuenheimer Feld 282 <br />
        69120 Heidelberg </strong
      >{% endtrans %}
    </li>
  </ul>
  <p>{% trans %}in Zusammenarbeit mit dem{% endtrans %}</p>
  <ul style="list-style-type: none">
    <li>
      {% trans %}<strong
        >Gesundheitsamt Rhein-Neckar-Kreis <br />
        Kurfürsten-Anlage 38-40 <br />
        69115 Heidelberg </strong
      >{% endtrans %}
    </li>
  </ul>
  <p>{% trans %}Für Anfragen wenden Sie sich bitte an{% endtrans %}</p>
  <ul>
    <li>
      Prof. Michael Knop
      <a href="mailto:m.knop@zmbh.uni-heidelberg.de">[Email]</a>{% trans %},
      oder {% endtrans %}
    </li>
    <li>
      Dr. Simon Anders
      <a href="mailto:s.anders@zmbh.uni-heidelberg.de">[Email]</a>{% trans %},
      beide am ZMBH {% endtrans %}
    </li>
  </ul>
</div>
{% endblock %}
