{% extends "base.html" %} {% block content %}
<style>
  body {
    background-color: #1b1c1d;
  }
  .ui.inverted.statistic{
    border-radius: 20px;
    width: 250px;
    padding: 25px;
    background-color: rgba(255,255,255,0.1);
    margin: 30px;
  }
</style>
<div class="ui inverted segment content">
  <h1 style="font-size: 40px;" class="ui centered header">
    Dashboard
  </h1>

  <div class="ui inverted statistic">
    <div class="value">
      {{ stats.overall_count }}
    </div>
    <div class="label">
      Overall Samples
    </div>
  </div>

  <div class="ui inverted statistic">
    <div class="value">
      {{ stats.negative }}
    </div>
    <div class="label">
      Negative
    </div>
  </div>

  <div class="ui inverted statistic">
    <div class="value">
      {{ stats.positive }}
    </div>
    <div class="label">
      Positive
    </div>
  </div>

</div>
{% endblock %}
