{% extends "base.html" %} {% block content %}
<div class="container content">
  <h3>{% trans %}Test fehlgeschlagen{% endtrans %}</h3>
  <p>
    {% trans %}Bei der Analyse Ihrer Probe ist ein technisches Problem
    aufgetreten. Wir konnten Ihre Probe daher nicht auswerten und können Ihnen
    kein Ergebnis mitteilen. Tut uns leid.{% endtrans %}
  </p>
  <p>
    {% trans %}Bitte geben Sie bei nächster Gelegenheit eine neue Probe ab.
    Derartige Probleme sind die Ausnahme, und das nächste Mal klappt es
    bestimmt.{% endtrans %}
  </p>
</div>
{% endblock %}
