{% extends "base.html" %} {% block content %}
<div class="ui segment content">
  <p>
    {% trans %}
    <strong>Ihre Probe war <span>positiv</span>. Das heisst, das in Ihrer Probe das
      Coronavirus SARS-CoV-2 nachgewiesen wurde und Sie sich wahrscheinlich mit
      Covid-19 angesteckt haben.</strong>{% endtrans %}
  </p>
  <p>
    {% trans %}Bitte bleiben Sie zu Hause und vermeiden Sie jeglichen Kontakt zu
    anderen. Wenn Sie ärztlichen Rat wünschen, wenden Sie sich bitte (per
    Telefon!) an Ihren Hausarzt. {% endtrans %}
  </p>
  <p>
    {% trans %}Ein Mitarbeiter des Gesundheitsamtes wird sich baldmöglichst mit
    Ihnen in Verbindung setzen und das weitere Vorgehen mit Ihnen besprechen.
    Sie können auch selbst die Corona-Hotline des Gesundheitsamtes anrufen:
    06221 522-1881. {% endtrans %}
  </p>
</div>
{% endblock %}
