{% extends "base.html" %}
{% block content %}
	<div class="content container">
		<h3>{% trans %}Ooops, das Ergebnis liegt noch nicht vor... {% endtrans %}</h3>
		<p class="lead">{% trans %}Das tut uns sehr leid! Leider haben wir immer einen kleinen Bruchteil der Proben mit nicht eindeutigen Ergebnissen.{% endtrans %}</p>
		<p class="lead">{% trans %}Dies sind meist falsch-positive Ergebnisse. Um dies zu überprüfen, analysieren wir diese Proben erneut mittels RT-qPCR, um ein eindeutiges Ergebnis zu erhalten. Das dauert maximal 24 Stunden. Falls Sie die Ergebnisse nicht am Abend des Testtages (dem Tag, an dem Sie die Probe abgegeben haben) erhalten haben, bedeutet dies, dass Ihre Probe zu denjenigen gehört, die erneut getestet werden, um ein schlüssiges Ergebnis zu erhalten.{% endtrans %}</p>
		<p class="lead">{% trans %}Bleiben Sie dran, wir tun unser Bestes.{% endtrans %}</p>
	</div>
{% endblock %}