# Environemt-Variables
.env

# MacOS
.DS_Store

# Python
__pycache__/


# Pybabel
messages.pot
*.mo

# Keyfiles
*.pem

# Virtualenv
/venv

# Data
subjects.csv
db.sqlite3

# Editor
.idea/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Logs
logs

# Testing
.coverage
coverage.xml
.pytest_cache