{% load i18n %}
<div class="ui red top attached segment">
    <div class="content">
        <h2 class="ui header">{% blocktrans %}Barcode: {% endblocktrans %}{{ sample.barcode }}</h2>
        <div class="meta">
            <b>Registrations:</b> {{ sample.registrations.count }}<br>
            <b>Batch:</b> {{ sample.batch }}<br>
            <b>Rack:</b> {{ sample.rack }}
        </div>


        <h3 class="ui header">{% blocktrans %}Historie{% endblocktrans %}</h3>
        <div class="extra content">
            <div class="ui small feed">
                {% for result in sample.results %}
                <div class="event">
                    <div class="content">
                        <div class="summary">
                            {{ result.updated_time }}
                            <span>{{ result.status }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>




<div class="ui bottom attached message">
    <form action="{% url 'labview:query' %}" class="ui form" method="post">
        {% csrf_token %}
        <div class="two fields">
            <div class="field">
                <label>{% blocktrans %}Status der Probe{% endblocktrans %}</label>
                {{ edit_form.status }}
            </div>
            <div class="field">
                <label>{% blocktrans %}Rack{% endblocktrans %}</label>
                {{ edit_form.rack }}
            </div>
        </div>
        <input name="barcode" value="{{ sample.barcode }}" hidden>
        <button name="edit" class="ui button" type="submit">{% blocktrans %}Speichern{% endblocktrans %}</button>
    </form>
</div>