<!DOCTYPE html>
<html lang="de">
  <head>
    <title>
      {% trans %}Schnelltest der Universität Heidelberg auf das
      Covid-19-Coronavirus (SARS-CoV-2){% endtrans %}
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if g.lang_code == 'ar' %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style/css/bootstrap-rtl.min.css') }}"
    />
    {% else %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style/css/bootstrap.min.css') }}"
    />
    {% endif %}
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main_style.css') }}"
    />
  </head>
  <body class="page">
    {% block header %}
    <div class="page-header sticky-top" id="page-header">
      <div class="container navbar">
        <div class="navbar-brand">
          <a href="https://www.uni-heidelberg.de/en">
            <img
              src="{{ url_for('static', filename='media/logo_uni_mono_text.svg') }}"
              class="d-inline-block align-top"
              alt="Heidelberg University"
          /></a>
        </div>
        <div class="titlebox">
          <a href="{{ url_for('site.index') }}">
            <div class="title" style="font-size: 28px;">
              {% trans %}COVID-19 Schnelltest{% endtrans %}
            </div>
            <div style="font-size: 18px;" class="subtitle">
              {% trans %}LAMP basierter Schnelltest auf das Coronavirus SARS-CoV-2{% endtrans %}
            </div>
          </a>
        </div>


        <div class="dropdown show">
  <button class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="material-icons md-36" aria-hidden="true">language</i>
    <span id="lang-dropdown">Language</span>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/de/">Deutsch</a>
    <a class="dropdown-item" href="/en/">English</a>
  </div>
</div>


      </div>
    </div>
    {% endblock %}



    {% block consent %} {% endblock %}
    <main class="page-content">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class=flashes>
          {% for category, message in messages %}
            <div class="alert {{ category }}" role="alert">
              {% if category == 'alert-danger' %}
                <strong>{% trans %}Fehler:{% endtrans%}</strong>
              {% endif %}
              {% if category == 'alert-warning' %}
                <strong>{% trans %}Warnung:{% endtrans%}</strong>
              {% endif %}
              {{ message }}
            </div>
          {% endfor %}
          </div>
        {% endif %}
      {% endwith %}


      {% block content %} {% endblock %}
    </main>
    {% block footer %} {% include 'footer-page.html' %} {% endblock%}
  </body>
</html>
