{% extends "base.html" %} {% block header %} {% include "header-index.html" %}
{% endblock %} {% block content %}
<main class="page-content">
  <div class="banner" id="banner">
    <div class="banner-text">
      <h2 style="font-size: 30px">
        {% trans %}Schnelltest der Universität Heidelberg auf das{% endtrans
        %}<br />
        <span>{% trans %}Covid-19-Coronavirus (SARS-CoV-2){% endtrans %}</span>
      </h2>
      <a href="{{ url_for('site.consent') }}" class="button"
        >{% trans %}Ich habe ein Test-Kit erhalten{% endtrans %}</a
      >
      <a href="{{ url_for('site.results_query') }}" class="button"
        >{% trans %}Mein Test-Ergebnis abfragen{% endtrans %}</a
      >
      <a href="{{ url_for('site.information') }}" class="button"
        >{% trans %}Mehr über den Test erfahren{% endtrans %}</a
      >
      <p>
        {% trans %}Diese Seite ist verfügbar in:{% endtrans %} &nbsp;
        <a href="/de/"> Deutsch </a> &nbsp; <a href="/en/"> English </a> &nbsp;
        <a href="/tr/"> Türkçe </a> &nbsp;
      </p>
      <p>
        {% trans %}Bei technischen Problemen wenden Sie sich bitte an{% endtrans
        %} <a href="mailto:s.anders@zmbh.uni-heidelberg.de">Simon Anders</a>
      </p>
      <p style="margin: 10px; color: rgba(0, 0, 0, 0.2); font-size: 10pt">
        {{ g.lang_code }}
      </p>
    </div>
  </div>
</main>
{% endblock %} {% block footer %} {% include "footer-index.html" %} {% endblock
%}
