{% extends bare|yesno:"public/bareinfotext.html,public/consent.html" %}

{% block preamble %}
für jugendliche Teilnehmer: Bitte lies den folgenden Informationstext und klicke ganz unten, wenn Du einverstanden bist.
{% endblock %}

{% block info_text %}
<p><strong>Information und Einwilligung von MInderjährigen (Jugendliche von 12-17 Jahren) in die <em>anonyme</em> Verwendung von Speichelproben in einer Biobank</strong></p>
<p>Corona Teststation des Zentrum für Molekularbiologie der Universität Heidelberg (ZMBH)</p>
<p><strong>Titel der Studie:</strong> Entwicklung von unbeschränkt skalierbaren Testverfahren für die engmaschige Überwachung von Covid-19 Infektionen zur Verhinderung der Einschränkung des öffentlichen Lebens</p>
<p><strong>Liebe Probandin, lieber Proband,</strong></p>
<p>vielen Dank, dass Du Dir die Zeit nimmst, diesen Text zu lesen.</p>
<p>Um die Behandlung von Krankheiten zu verbessern, müssen wir noch viel erforschen. IN diesem speziellen Fall geht es darum die Corona Tests für den Coronavirus zu verbessern und für alle leichter und schneller zu machen.</p>
<p>Damit wir das noch besser machen könne, sammeln wir manche, aber lange nicht alle der Speichelproben die wir für zum Test erhalten, vielleicht also auch Deine, und und lagern sie in einer Biobank, z.B. um den Test später nochmals mit einer verbesserten Methode durchzuführen.</p>
<p>Diese Biobank wird betrieben von der Corona Teststation des Zentrum für Molekularbiologie der Universität Heidelberg (ZMBH)<em>. Da wir für diese Untersuchungen keine persönlichen Angaben von der Speichelspendern benötigen, werden die Proben für die Biobank anonymisiert, so dass niemand mehr weiß, von wem sie stammen.</em></p>
<p>Bitte überlege Dir in Ruhe, ob Du uns Deine Speichelprobe dafür geben willst. Besprich das gerne mit Deinen Eltern. <strong>Deine Zustimmung ist freiwillig, allerdings ist sie notwendig, damit Diene Speichelprobe beim Corona Test mitmachen kann, weil wir einfach nicht für jede der vielen Proben die wir kriegen nachschauen können ob sie für die Biobank verwendet werden darf oder nicht.</strong></p>
<p>Auf der Grundlage der folgenden Informationen kannst Du Deine eigene Meinung bilden und eine Entscheidung treffen. Du kannst allerdings nur teilnehmen, wenn auch Deine Eltern zustimmen.</p>
<h1 id="welche-ziele-verfolgt-die-biobank">1. Welche Ziele verfolgt die Biobank?</h1>
<h1 id="in-biobank-lagern-die-letztendlich-nur-ein-tiefgefrierschrank-ist-lagern-wir-ddei-soeichelorben-bis-wir-wissen-möchten-ob-z.b.-eine-neue-variante-unseres-covid-19-testes-besser-funktioniert.-oder-ein-wissenschaftler-an-einer-anderen-forschungseinrichtung-möchte-wissen-ob-sine-covid-19">In Biobank lagern, die letztendlich nur ein Tiefgefrierschrank ist, lagern wir ddei Soeichelorben, bis wir wissen möchten, ob z.B. eine neue Variante unseres Covid-19 Testes besser funktioniert. Oder ein wissenschaftler an einer anderen Forschungseinrichtung möchte wissen ob sine Covid-19 </h1>
<p>Test besser ist als unserer, und dazu verwenden wir die Speichelproben uns der Biobank um seinen Test auszuprobieren, oder wir senden einfach Proben aus unsere Biobank an den Wissenschaftler, damit er selber schauen kann. Du siehst, es gibt viele verschieden Möglichkeiten Deine Speichelprobe zu verwenden, alle dienen irgendwie dem Ziel, die Covid-19 Epidemie erträglicher zu gestalten durch häufigeres, besseres, chnelleres und einfacheres Testen.</p>
<h1 id="um-welche-biomaterialien-und-daten-handelt-es-sich">2. Um welche Biomaterialien und Daten handelt es sich?</h1>
<p>Bei dem Biomaterial handelt es sich um den Rest der Speichel/Gurgelprobe, den Du für den Covid-19 Test abgegeben und von Deinen Eltern zum Testen gebracht wurde. Die erhobenen Daten umfassen nur wieviel Corona Viren sich im Speichel befinden, falls sich überhaupt welche darin befinden, was meistens nicht der Fall ist. Beim Übertragung der Probe in die Biobank kreigt die Probe auch eine neue Nummer die die alte Nummer erstzt, wobei wir uns für die neuen Nummer nicht aufschreiben, welche alte Nummer sie erstzt. Damit sit die Probe jetz anonym, und kann nicht mehr zu Dir zurückverfolgt werden. Umgekehrt wissen wir dann nicht merh, welches Deine Probe war. Zudem ist unser Gefrierschrank nicht sehr groß und wir lagern nur einen kleinen Teil der anfallenden Proben (ca 1%) so dass die Wahrscheinlichkeit, dass Deine Probe verwendet wird, eher klein ist.</p>
<h1 id="wie-werden-die-biomaterialien-und-daten-verwendet">3. Wie werden die Biomaterialien und Daten verwendet?</h1>
<p>Die von Dir zur Verfügung gestellten Biomaterialien und Daten werden nur für die Erforschung von besseren Testmethoden um das Coronavirus bei der Covid-19 Infektion in Speichelproben nachzuweisen.</p>
<p><strong>Die Speichelproben sollen bis zu 2 Jahre aufbewahrt werden. Spätestens danach werden sie vernichtet.</strong></p>
<h1 id="welche-risiken-gibt-es-für-dich">4. Welche Risiken gibt es für Dich?</h1>
<h2 id="a.-gesundheitliche-risiken">a. Gesundheitliche Risiken </h2>
<p><em><strong>Durch die Sammlung der Speichelproben entstehen für Dich keine gesundheitlichen Risiken.</strong></em></p>
<h2 id="b.-weitere-risiken">b. Weitere Risiken</h2>
<p>Es gibt für Dich keine weiteren Risiken.</p>
<h1 id="welchen-nutzen-gibt-es-für-dich">5. Welchen Nutzen gibt es für Dich?</h1>
<p>Du wirst von der Sammlung Deiner Biomaterialien und Daten keinen unmittelbaren Nutzen für Deine Gesundheit haben. Die Biobank dient nur der Forschung, nicht Deiner Behandlung.</p>
<h1 id="welchen-nutzen-gibt-es-für-die-allgemeinheit">6. Welchen Nutzen gibt es für die Allgemeinheit?</h1>
<p>Die Forschung mit Deinen Biomaterialien kann dazu beitragen, dass wir besser, schneller und einfacher das Coronavirus nachweisen können. Damit haben wir bessere Möglichkeiten die Coronapandemie zu bekämpfen.</p>
<h1 id="wie-werden-deine-biomaterialien-und-daten-geschützt">7. Wie werden Deine Biomaterialien und Daten geschützt?</h1>
<p>Deine Speichelproben sind anonym, also nicht mit Deinen persönlichen Daten (Name, Geburtsdatum, Anschrift) versehen, sondern mit einem zufällig ausgesuchten Code.</p>
<p>Die Speichelproben können unter Umständen auch an andere Einrichtungen wie Universitäten, Forschungsinstitute und forschende Unternehmen innerhalb von Deutschland weitergegeben werden. Die Proben dürfen dabei nur verwendet werden um Covid-19 Testmethoden an verschiedenen Standorten zu vergleichen und validieren und nicht zu anderen Zwecken weitergegeben werden. Nicht verbrauchtes Material wird vernichtet.</p>
<h1 id="hast-du-einen-finanziellen-vorteil">8. Hast Du einen finanziellen Vorteil?</h1>
<p>Wenn Du uns Deine Speichelproben zur Verfügung stellst, gehören sie der Corona Teststation des Zentrums für Molekularbiologie der Universität Heidelberg (ZMBH). Du bekommst dafür jedoch kein Geld.</p>
<h1 id="nehmen-wir-noch-einmal-kontakt-mit-dir-auf">9. Nehmen wir noch einmal Kontakt mit Dir auf? </h1>
<p>Da die Proben anonym gelagert werden, ist eine erneute Kontaktaufnahme unmöglich.</p>
<h1 id="kannst-du-deine-meinung-ändern">10. Kannst Du Deine Meinung ändern?</h1>
<p><strong>Deine Teilnahme an der Biobank ist völlig freiwillig. Allerdings, die die Proben anonymisiert aufbewahrt und verwendet werden, hast Du (oder Deine Eltern) nicht die Möglichkeit diese Entscheidung zu widerrufen, da wir die Proben nicht mehr identifizieren können.</strong></p>
<h1 id="welche-weiteren-datenschutzrechte-hast-du">11. Welche weiteren Datenschutzrechte hast Du?</h1>
<p>Wir speichern keine Daten von Dir.</p>
<p>Bei Fragen zum Umgang mit Daten kannst Du Dich auch an einen Datenschutzbeauftragten wenden:</p>
<blockquote>
<p>Dr. Simon Anders</p>
<p>Zentrum für Molekularbiologie der</p>
<p>Universität Heidelberg (ZMBH)</p>
<p>Im Neuenheimer Feld 282</p>
<p>69120 Heidelberg, Germany</p>
<p>Tel.: +49-6221 546855</p>
<p>s.anders@zmbh.uni-heidelberg.de</p>
</blockquote>
<p>Du hast außerdem das Recht, Dich bei einer Datenschutzaufsichtsbehörde zu beschweren. Eine Liste der Aufsichtsbehörden in Deutschland findest Du unter</p>
<p><span class="underline">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html.</span></p>
<h1 id="wo-kannst-du-weitere-informationen-erhalten">12. Wo kannst Du weitere Informationen erhalten?</h1>
<p>Du kannst Dich wegen Rückfragen auch zu einem späteren Zeitpunkt an <a href="mailto:info@covidtest-hd.de">info@covidtest-hd.de</a>, Phone: 01525-7508378 wenden. Weitere Informationen kannst Du auch unter <a href="https://www.covidtest-hd.de">https://www.covidtest-hd.de</a> finden.</p>
<p><strong>Bitte lies die folgende Einwilligungserklärung aufmerksam durch. Die Einwilligung wird online eingeholt. Du gibst uns Deine Zustimmung für die Biobank, sobald Deine Eltern und Du die Speichelprobe für den Covid-19 Test online registriert und dann die Probe bei uns für den Test abgegeben haben. Die Registrierung und Abgabe der Probe ist die Bestätigung, dass du damit einverstanden sind, dass die Probe möglicherweise in die Biobank aufgenommen wird und anonymisiert für Versuche zur Verbesserung des Covid-19 Testes verwendet wird.</strong></p>
<h1 id="einwilligungserklärung">Einwilligungserklärung </h1>
<p>Ich habe die Informationsschrift gelesen und verstanden. Die Informationsschrift liegt online vor, und ich hab die Telefonnummer oder Email Adresse gesehen um weitere Fragen zu stellen. Ich weiß, dass nach Abgabe der Probe und erhalten des Testresultates für den Covid-19 Test ich meine Einwilligung für die Biobank nicht mehr widerrufen kann, weil die Probe entweder vernichtet wurde oder anonymisiert wurde und somit nicht mehr aufgefunden werden kann.</p>
<p><strong>Durch Teilnahme am Covid-19 Test durch Abgabe meiner Speichelprobe willige ich ein, dass meine Biomaterialien und Daten, wie in der Informationsschrift beschrieben, an die Biobank der Corona Teststation des Zentrum für Molekularbiologie der Universität Heidelberg (ZMBH) gegeben und in kodierter Form für die in der Informationsschrift genannten medizinischen Forschungszwecke aufbewahrt und verwendet werden.</strong></p>
{% endblock %}

{% block checkbox_text %}
Ich bin einverstanden, dass meine Probe für die Biobank verwendet wird.
{% endblock %}