{% extends "public/base-slim.html" %}
{% load i18n %}
{% load semanticui %}

{% block content %}
<form id="access_check" class="ui form" action="{% url 'app:access_check' %}" method="post">
    {% csrf_token %}
    {% render_form form %}
    <label style="color: rgba(0,0,0,0.6); padding-left: 0px;">{% blocktrans %}Der Access-Code (12 stelliger Code beginnend mit A ...)  befindet sich am unteren Ende des Zettels, welches dem Testkit beiliegt.{% endblocktrans %}</label>
    <div style="margin-top: 15px;">
        <button type="submit" class="ui primary button">
            {% blocktrans %}Weiter{% endblocktrans %}
        </button>
    </div>
</form>

    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>
    <script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>

    <script>
        function format_input(value) {
            var v = value.toUpperCase().replace(/\s+/g, '').replace(/\W/gi, '');
            return v.match(/.{1,3}/gi).join(" ");
        }



        $("#id_access_code").on("input", function (e) {
            var input = $("#id_access_code").val()
            $("#id_access_code").val(format_input(input))
        });

    </script>


    <style>
    #access_check > div.required.field {
        margin-bottom: 3px!important;
    }

    #access_check > div.required.field > label {
        padding-left: 0px;
    }

    #access_check > div.required.field > input {
        font-size: 15pt;
        padding: 7px 15px;
    }

  #interactive.viewport {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
  }
  #interactive.viewport > canvas,
  #interactive.viewport > video {
    max-width: 100%;
    width: 100%;
  }
  canvas.drawing,
  canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
  }

    </style>
    {% endblock %}
