{% extends "public/base.html" %}
{% load i18n %}

{% block content %}
    <div style="margin-top: 14px;" class="ui segment content">
        <h2 class="ui header">
            {% blocktrans %}Weitere Informationen{% endblocktrans %}
        </h2>

        <h3>
            {% blocktrans %}Wie funktioniert die Probenabnahme und -abgabe?{% endblocktrans %}
        </h3>
        <p>{% blocktrans %}Informationen zur Probenabnahme finden Sie hier: {% endblocktrans %}
            <a href="{% url 'app:instructions'  %}">{% blocktrans %}Probenabnahme{% endblocktrans %}</a>
        </p>

        <h3>
            {% blocktrans %}Wie funktioniert der LAMP-Test?{% endblocktrans %}
        </h3>
        <p>
            {% blocktrans %}Im ersten Schritt der LAMP-Analyse wird RNA aus Ihrer Speichelprobe isoliert, da das Genom des SARS-CoV-2 Virus als RNA vorliegt. Dieser Vorgang wird von einer automatisierten Pipettierplattform durchgeführt.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}Im zweiten Schritt wird mit der isolierten RNA das LAMP-Verfahren durchgeführt. LAMP steht für loop-mediated isothermal amplification. Ähnlich wie im PCR-Verfahren, wird beim LAMP-Assay das virale Genom Sequenz-spezifisch vervielfältigt. Die entstandenen Amplifikate werden über Fluoreszenz sichtbar gemacht.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}Befindet sich in Ihrer Probe SARS-CoV-2 RNA, wird die Fluoreszenz im Laufe der LAMP-Reaktion ansteigen aufgrund der steigenden Zahl an Nukleinsäure-Amplifikaten. Liegt keine virale RNA vor, bleibt das Signal mehr oder weniger gleich.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}Aufgrund des Vervielfältigungsschrittes ist das LAMP-Verfahren deutlich sensitiver als Antigentests, die direkt virale Proteine nachweisen (ohne Vervielfältigung).{% endblocktrans %}
        </p>

        <h3>
            {% blocktrans %}Datenschutz und Erklärung zum Schutz der Privatsphäre{% endblocktrans %}
        </h3>
        <p>
            {% blocktrans %}Wenn Sie diese Website besuchen und einen Zugangscode eingeben, erfassen wir keine personenbezogenen Daten, es werden keine Cookies verwendet und keine Tracker sind auf unserer Seite installiert. Wir speichern nur den eingegebenen Zugangscode, den Zeitpunkt der Eingabe des Zugangscodes und das Ergebnis, das bei jeder Eingabe eines Zugangscodes angezeigt wird. Wir können die Probe keiner Person zuordnen und ohne Zugangscode können Sie das Resultat nicht erfahren. Die Resultate werden nicht weitergeleitet oder auf irgendeiner Plattform bekannt gegeben und könne nur hier mittels des Zugangscodes erfahren werden.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}Wenn Sie eine Gurgelprobe einreichen, analysieren wir die Probe nur auf das Vorhandensein von SARS-CoV-2 Virus-RNA unter Verwendung isothermer Nukleinsäureamplifikation und einer Fluoreszenzanzeige, um das Vorhandensein der Virus-RNA zu bestimmen. Es wird kein weiterer Test durchgeführt. Die Probe wird nur zum Zweck der Analyse aufbewahrt, bis das Ergebnis bestätigt ist. Die Probe wird innerhalb von 2 Wochen nach der Analyse vollständig vernichtet. Wenn Sie die Resultate abfragen wird Ihnen die Bedeutung der Resultate erklärt und eine Handlungsanweisung gegeben. Sollten Sie diesen Instruktionen nicht folgen, unterliegt das Ihrer Verantwortung.{% endblocktrans %}
        </p>
    </div>
{% endblock %}