{% extends "public/base.html" %}
{% load i18n %}

{% block content %}
<div class="ui segment content">
  <h2 class="ui header">
    {% blocktrans %}Erprobung eines LAMP-basierten Tests auf das Coronavirus
    SARS-CoV-2{% endblocktrans %}
  </h2>

  <h3>Wie funktioniert die Probennahme?</h3>

      <div class="video-responsive">
        <!-- <iframe width="560" height="315" src="media/sample.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe src="https://player.vimeo.com/video/418715192?title=0&byline=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>`-->


        <iframe
                width="800"
                height="440"
                src="https://player.vimeo.com/video/480702586"
                allow="autoplay; fullscreen" allowfullscreen
        >
        </iframe>
    </div>


  <h3>Informationen zum Test</h3>

  <div class="ui tabular menu">
    <div class="item" data-tab="tab-adults">für Erwachsene</div>
    <div class="item" data-tab="tab-adolescents">für Jugendliche</div>
    <div class="item" data-tab="tab-children">für Kinder</div>
    <div class="item" data-tab="tab-parents">für Eltern/Sorgebrechtigte</div>
    <div class="item" data-tab="tab-close">zuklappen</div>
  </div>
  <div class="ui tab" data-tab="tab-adults"> {% include "public/info_and_consent/adults.html" with bare="true" %} </div>
  <div class="ui tab" data-tab="tab-adolescents"> {% include "public/info_and_consent/adolescents.html" with bare="true" %} </div>
  <div class="ui tab" data-tab="tab-children"> {% include "public/info_and_consent/children.html" with bare="true" %} </div>
  <div class="ui tab" data-tab="tab-parents"> {% include "public/info_and_consent/parents.html" with bare="true" %} </div>
  <div class="ui tab" data-tab="tab-close"> </div>
  
  <h3>Informationen zur Biobank</h3>

    <div class="ui tabular menu">
    <div class="item" data-tab="tab-adults-bb">für Erwachsene</div>
    <div class="item" data-tab="tab-adolescents-bb">für Jugendliche</div>
    <div class="item" data-tab="tab-children-bb">für Kinder</div>
    <div class="item" data-tab="tab-parents-bb">für Eltern/Sorgebrechtigte</div>
    <div class="item" data-tab="tab-close">zuklappen</div>
  </div>
  <div class="ui tab" data-tab="tab-adults-bb"> {% include "public/info_and_consent/adults_biobank.html" with bare="true" %} </div>
  <div class="ui tab" data-tab="tab-adolescents-bb"> {% include "public/info_and_consent/adolescents_biobank.html" with bare="true" %} </div>
  <div class="ui tab" data-tab="tab-children-bb"> {% include "public/info_and_consent/children_biobank.html" with bare="true" %} </div>
  <div class="ui tab" data-tab="tab-parents-bb"> {% include "public/info_and_consent/parents_biobank.html" with bare="true" %} </div>

  <script>$('.tabular.menu .item').tab();</script>


</div>
{% endblock %}
