{% extends "public/base.html" %}
{% load i18n %}

{% block content %}
<div class="ui segment content">
  <h3 class="ui header">{% blocktrans %}Mehrfach registrierter Barcode{% endblocktrans %}</h3>
  <p>
    {% blocktrans %}Für diesen Barcode wurde das Registrier-Formular mehrmals
    ausgefüllt, mit verschiedenen Passwörtten. {% endblocktrans %}
  </p>
  <p class="lead">
    {% blocktrans %}Bitte kontaktieren Sie uns:{% endblocktrans %}
    <a href="mailto:s.anders@zmbh.uni-heidelberg.de" class="alert-link"
      >{% blocktrans %}E-Mail (s.anders@zmbh.uni-heidelberg.de){% endblocktrans %}</a
    >.
  </p>
</div>
{% endblock %}
