{% extends "public/base.html" %}
{% load i18n %}

{% block content %}
<div class="ui segment content">
    <p>
        {% blocktrans %}Unsere Test-Kits bestehen aus einem größeren Röhrchen mit
        salzigem Wasser, einem kleinen Röhrchen mit aufgedrucktem Code, und einer
        Plastik-Pipette.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}Wir verteilen diese Kits im Rahmen von Test-Aktionen, z.B. an
        alle Mitarbeiter einer Einrichtung. Nur wer auf solchem Wege ein Test-Kit
        erhalten hat, kann teilnehmen.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}Bitte verstehen Sie, dass sich der Aufwand einer Test-Aktion nur
        lohnt, wenn wir dadurch eine größere Zahl Personen testen können. Für
        Einzel-Personen können wir den test leider nicht anbieten. Wenn Sie uns aber
        helfen möchten, und für eine größere Gruppe die verteilung von test-Kits
        organisieren möchten, wenden Sie sich doch mit einem Vorschlag an uns.
        {% endblocktrans %}
    </p>
    <p style="text-align: center;"><a href="{% url 'app:pages' page='contact.html' %}">{% blocktrans %}Kontakt{% endblocktrans%}</a>
    </p>
</div>
{% endblock %}
