{% extends "public/pages/result_ui_segment.html" %}
{% load i18n %}

{% block segment-title %}{% blocktrans %}Test fehlgeschlagen{% endblocktrans %}{% endblock %}

{% block segment-body %}
<p class="lead">
{% blocktrans %}Leider ist es bei Ihrer Probe zu einem technischen Problem
gekommen, so dass wir Ihre Probe nicht auswerten konnten.{% endblocktrans %}
</p>
<p class="lead">
{% blocktrans %}Solche technischen Problem sind selten, kommen aber vor.
Es tut uns leid, dass wir Ihnen deshalb kein Ergebnis mitteilen können. Geben Sie
bitte bei nächster Gelegenheit eine neue Probe ab. Wenn Sie Fragen dazu haben,
  schreiben Sie uns bitte: info@coronatest-hd.de{% endblocktrans %}
</p>
<p class="lead">
{% blocktrans %}Bleiben Sie dran, wir tun unser Bestes.{% endblocktrans %}
</p>
{% endblock %}
