{% extends "public/pages/result_ui_segment.html" %}
{% load i18n %}

{% block segment-title %}{% blocktrans %}Ergebnis liegt noch nicht vor{% endblocktrans %}{% endblock %}

{% block segment-body %}
<p class="lead">
  {% blocktrans %}In unserer ersten Analyse haben wir für hre Probe kein klares
  Ergebnis ablesen können. Solche nicht eindeutigen Ergebnisse kommen leider
  bei unserem LAMP-Verfahren stets bei einem kleinen Bruchteil der Proben vor.{% endblocktrans %}
</p>
<p class="lead">
  {% blocktrans %}Wir überprüfen Ihre Probe daher nun erneut, diesmal mit einem
  anderen Laborverfahren, der Standardmethode RT-PCR. Dies dauert höchsten
  24 Stunden. Fragen Sie also bitte Ihr Ergebnis morgen (d.h., am Abend des Tages
  nach der Abgabe der Probe) nochmals hier ab; bis dann sollte diese Meldung
  durch das endgültige Ergebnis ersetzt worden sein.{% endblocktrans %}
</p>
{% endblock %}
