{% extends "public/pages/result_ui_segment.html" %}
{% load i18n %}

{% block segment-title %}{% blocktrans %}Möglicherweise positiv{% endblocktrans %}{% endblock %}

{% block segment-body %}
<p class="lead">
  {% blocktrans %}Ihre Probe ist möglicherweise positiv: Unsere erste Analyse hat das Vorhandensein
  des Covid19 Coronavirus angezeigt. Da unser Testverfahren aber noch experimentell ist, haben wir Ihre Probe
  nun an das virologische Labor der Universitätsklinik weiter gegeben, wo dieses Ergebnis nun überprüft wird.
  Wenn Sie am Abend des Tages nach der Probenabgabe nochmals hier Ihr Ergebnis abfragen (wieder mit Code),
  werden Sie das endgültige Resultat erfahren. {% endblocktrans %}
</p>
<p>
  {% blocktrans %} Bis dahin seien Sie bitte sehr vorsichtig, denn möglicherweise sind Sie hoch ansteckend:
  Bleiben Sie also bitte zu Hause und halten Sie viel Abstand zu anderen Menschen. {%endblocktrans %}
</p>
<p>
  {% blocktrans %} Die Teilnahme für Universitätsangehörige an der Studie ist anonym, trotzdem wäre es gut,
  wenn Sie sich bei uns melden würden, schon bevor das offizielle Resultat vorliegt, damit wir helfen können,
  die Infektionskette zu stoppen. Eine Meldung ist vertraulich und wird vertraulich behandelt. Bitte wenden
  Sie sich dazu an den Studienleiter Prof. Michael Knop (0152-54756440) oder an Dr. Simon Anders (0176-59535777).{%endblocktrans%}
</p>
{% endblock %}
