{% extends "public/base.html" %}
{% load i18n %}

{% block content %}
<div class="ui segment content">
    <h3 class="ui header">{% blocktrans %}Ergebnis liegt noch nicht vor{% endblocktrans %}</h3>
    <p>
        {% blocktrans %}Für Ihre Probe liegt leider noch kein Ergebnis vor. Bitte
        versuchen Sie es später oder morgen noch einmal.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}Falls Sie schon sehr lange auf ein Ergebnis warten, kontaktieren Sie
        uns und fragen Sie nach:{% endblocktrans %} info@covidtest-hd.de
    </p>
</div>
{% endblock %}