{% extends "public/pages/result.html" %}
{% load i18n %}

{% block segment-title %}{% blocktrans %}Ergebnis liegt noch nicht vor{% endblocktrans %}{% endblock %}

{% block segment-body %}
<p>
    {% blocktrans %}Für Ihre Probe liegt leider noch kein Ergebnis vor. Bitte
    versuchen Sie es später oder morgen noch einmal.{% endblocktrans %}
</p>
<p>
    {% blocktrans %}Falls Sie schon sehr lange auf ein Ergebnis warten, kontaktieren Sie
    uns und fragen Sie nach: {% endblocktrans %}{% include 'public/snippets/contact_information.html' %}
</p>
{% endblock %}