{% extends "public/base.html" %}
{% load i18n %}

{% block content %}
<div class="ui segment content">
  <p>
    {% blocktrans %}
    <strong>Ihre Probe war <span>positiv</span>. Das Resultat wurde mit einem anerkannten qPCR Test in der virologischen Diagnstik der Universität Heidelberg bestätigt. Das heißt, dass in Ihrer Probe das
      Coronavirus SARS-CoV-2 nachgewiesen wurde und Sie sich wahrscheinlich mit
      Covid-19 angesteckt haben.</strong>{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}Bitte bleiben Sie zu Hause und vermeiden Sie jeglichen Kontakt zu
    anderen. Wenn Sie ärztlichen Rat wünschen, wenden Sie sich bitte (per
    Telefon!) an Ihren Hausarzt. {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}Ein Mitarbeiter des Gesundheitsamtes wird sich baldmöglichst mit Ihnen in Verbindung setzen und das weitere Vorgehen mit Ihnen besprechen. Falls Sie innerhalb der nächsten 24 Stunden nichts vom Gesundheitsamt hören, dann senden Sie bitte eine Email an info@virus-finder.de, oder kontaktieren Sie dieCorona-Hotline: 06221 522-1881 (Mo-Fr). In dringenden Fällen, können sie immer jemand unter 01525-7908378 erreichen.{% endblocktrans %}
  </p>
</div>
{% endblock %}
