{% extends "public/pages/result.html" %}
{% load i18n %}

{% block segment-title %}{% blocktrans %}Positiv{% endblocktrans %}{% endblock %}

{% block segment-body %}
<p>
  {% blocktrans %}
  <strong>Ihre Probe war <span>positiv</span>. Das Resultat wurde mit einem anerkannten qPCR Test in der virologischen Diagnstik der
    Universität Heidelberg bestätigt. Das heißt, dass in Ihrer Probe das
    Coronavirus SARS-CoV-2 nachgewiesen wurde und Sie sich wahrscheinlich mit
    Covid-19 angesteckt haben.</strong>{% endblocktrans %}
</p>
<p>
  {% blocktrans %}Bitte bleiben Sie zu Hause und vermeiden Sie jeglichen Kontakt zu
  anderen. Wenn Sie ärztlichen Rat wünschen, wenden Sie sich bitte (per
  Telefon!) an Ihren Hausarzt. {% endblocktrans %}
</p>
<p>
  {% blocktrans %}Ein Mitarbeiter des Gesundheitsamtes wird sich baldmöglichst mit Ihnen in Verbindung setzen und das
  weitere Vorgehen mit Ihnen besprechen. Falls Sie innerhalb der nächsten 24 Stunden nichts vom Gesundheitsamt hören,
  können Sie auch deren Corona-Hotline kontaktieren: 06221 522-1881. Das Team des ZMBH-LAMP-Tests erreichen Sie
  über info@coronatest-hd.de, die Studienleitung unter 0152 5475 6440 (Prof. Michael Knop) oder
  0176 5953 5777 (Dr. Simon Anders).{% endblocktrans %}
</p>
{% endblock %}
