{% extends "public/pages/result_ui_segment.html" %}
{% load i18n %}

{% block segment-title %}{% blocktrans %}Technische Probleme{% endblocktrans %}{% endblock %}

{% block segment-body %}
<p class="lead">
    {% blocktrans %}Leider ist es bei Ihrer Probe zu einem technischen Problem
    gekommen, so dass wir die Analyse Ihrer Probe nochmals am nächsten Labortag
    (Mo - Fr) wiederholen m&uuml;ssen.{% endblocktrans %}
</p>
<p class="lead">
    {% blocktrans %}Solche technischen Problem sind selten, kommen aber vor.
    Es tut uns leid und wir bitten Sie am Nachmittag des n&auml;chsten Labortages noch einmal den Status zu pr&uuml;fen.{% endblocktrans %}
</p>
<p class="lead">
    {% blocktrans %}
    Wenn Sie Fragen dazu haben, schreiben Sie uns bitte: info@coronatest-hd.de
    {% endblocktrans %}
</p>
<p class="lead">
    {% blocktrans %}Bleiben Sie dran, wir
    tun unser Bestes.{% endblocktrans %}
</p>
{% endblock %}
