{% extends "public/pages/result.html" %}
{% load i18n %}

{% block segment-title %}{% blocktrans %}Grenzwertig Positiv{% endblocktrans %}{% endblock %}

{% block segment-body %}
<p>
  {% blocktrans %}Resultat SARS- CoV-2-RNA (COVID- 19) Kernsäurenachweis (Coronatest): grenzwertig positiv{% endblocktrans %}
</p>
<p>
  {% blocktrans %}Coronavirus 2019 (SARS-CoV-2) mittels RT-LAM und real-time RT-PCR (CE-IVD-markierter Test) in einem
grenzwertigen Bereich nachgewiesen.{% endblocktrans %}
</p>
<p>
  {% blocktrans %}Die Analyse ergab eine grenzwertig positive Reaktion, sowohl mit dem RT-LAMP assay als auch mit einem
  RT-PCR Test (CT-Wert 35-39). Das Ergebnis deutet sehr wahrscheinlich auf eine niedrige Viruslast bei beginnender oder
  abklingender Infektion hin.{% endblocktrans %}
</p>
<p>
  {% blocktrans %}Die Bewertung von CT-Werten ist abhängig von Zeitpunkt und Qualität der Probennahme, von Materialart
  bzw. Abstrichort sowie von testspezifischen Leistungsmerkmalen. Ein falsch-positives Ergebnis ist nicht völlig
  auszuschließen.{% endblocktrans %}
</p>
<p>
  {% blocktrans %}Ein CT-Wert > 30 kann im Rahmen einer Kontrolluntersuchung als Entlasskriterium aus der Isolierung
  eines Patienten nach einer COVID-Infektion herangezogen werden. Allerdings ist zu beachten, dass die Proben-Entnahme
  für unseren Gurgeltest nicht von einer medizinisch ausgebildeten Fachperson durchgeführt wurde
  (sondern von Ihnen selber), wodurch sich Unsicherheiten bei der genauen Bestimmung der Viruslast ergeben, je nach dem
  wie genau Sie den Anweisungen folge geleistet haben.{% endblocktrans %}
</p>
<p>
  {% blocktrans %}Gemäß 87, Abs. 11fSG wird dieser Befund an das zuständige Gesundheitsamt gemeldet (Labormeldung).
  Das Gesundheitsamt entscheidet nach klinischen und epidemiologischen Informationen über weitere Maßnahmen. Je nach
  Situation kann es einige Tage dauern bis sich das Gesundheitsamt mit Ihnen in Verbindung setzt.{% endblocktrans %}
</p>
<p>
  {% blocktrans %}Für eine Kontroll-Untersuchung und Bestätigung des Resultates empfehlen wir die Abgabe einer weiteren
  Gurgelprobe bei uns so schnell wie möglich.{% endblocktrans %}
</p>
<p>{% blocktrans %}Falls Sie hierzu Fragen haben, kontaktieren Sie uns bitte unter: {% endblocktrans %}{% include 'public/snippets/contact_information.html' %}</p>
{% endblock %}
