{% extends "public/base.html" %}
{% load i18n %}

{% block content %}
<div class="ui segment content">
  <h3 class="ui header">{% blocktrans %}Möglicherweise positiv{% endblocktrans %}</h3>
  <p class="lead">
    {% blocktrans %}Ihre Probe ist möglicherweise positiv: Unsere erste Analyse hat das Vorhandensein
    des Covid19-Coronavirus angezeigt. Da unser Test-Verfahren aber noch experimentell, haben wir Ihre Probe
    nun an der virologische Labor der Universitätsklinik weiter gegeben, wo dieses Ergebnis nun überprüft wird.
    Wenn Sie am Abend des Tages nach der Probenabgabe nochmals hier Ihr Ergebnis abfragen (wieder mit Code),
    werden Sie das endgültige Resultat erfahren. {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %} Bis dahin seien Sie bitte sehr vorsichtig, denn möglicherweise sind Sie hoch ansteckend:
    Bleiben Sie also bitte zu Hause und halten Sie viel Abstand zu anderen Menschen. {%endblocktrans %}
  </p>
  <p>
    {% blocktrans %} Bis dahin seien Sie bitte sehr vorsichtig, denn möglicherweise sind Sie hoch ansteckend:
    Bleiben Sie also bitte zu Hause und halten Sie viel Abstand zu anderen Menschen. {%endblocktrans %}
  </p>
  <p>
    {% blocktrans %} Wenn Sie möchten, können Sie sich mit dem Studienleiter, Michael Knop (0152-54756440)
    oder Simon Anders (0176-59535777), in Verbindung setzten.{%endblocktrans%}
  </p>
</div>
{% endblock %}
