{% extends 'base.html' %} {% block content %}
<div class="ui segment content">
    <h1 class="ui header centered">{% trans %}Lab Interface - Home{% endtrans %}</h1>
    <p>
        {% trans %}
        Dies ist das Laborinterface, um Datensätze der Testungen zu editieren. Folgende Prozesse stehen zur Verfügung:
        {% endtrans%}


    <ul>
        <li>
            <a href="{{ url_for('site.probe_check_in') }}">{% trans %}Neue Proben (Probeneingang){% endtrans %}</a>
        </li>
        <li>
            <a href="{{ url_for('site.probe_query') }}">{% trans %}Probe suchen{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ url_for('site.probe_query') }}">{% trans %}Status setzen{% endtrans %}</a>
        </li>
    </ul>

    </p>
</div>
{% endblock %}
