{% extends 'base.html' %} {% block content %}

<script>
    $(window).ready(function() {
        if ($("input[name=rack]").val() == ""){
            var input = $("input[name=rack]");
            input.focus();
            input.select();
        }
        $("input[name=rack]").on("keypress", function (event) {
            var keyPressed = event.keyCode || event.which;
            if (keyPressed === 13) {
                event.preventDefault();
                var input = $("input[name=barcode]");
                input.focus();
                input.select();
                return false;
            }
        });
    });


    $('.ui.positive.message')
    .modal({
        onShow: function () {
          $(".ui.dimmer").css("background-color","rgba(0,255,0,0.8)");
        },
    })
    .modal('show')
    .delay(400)
    .queue(function() {
        $(this).modal('hide').dequeue();
    });

    $('.ui.error.message')
    .modal({
        onShow: function () {
          $(".ui.dimmer").css("background-color","rgba(255,0,0,0.8)");
        }
    })
    .modal('show')
    .delay(1000)
    .queue(function() {
        $(this).modal('hide').dequeue();
    });



</script>

<style>
    .ui.dimmer {
        background-color: rgba(0,255,0,0.7);
    }
</style>


<div class="ui segment content">
    <h1 class="ui header centered">{% trans %}Lab Interface - Proben registrieren{% endtrans %}</h1>
    <p>
        {% trans %}
        Hier können Barcodes als eingegangen markiert werden:
        {% endtrans%}
    </p>

    <form style="margin-bottom: 20px;" action="{{ url_for('site.probe_check_in') }}" method="post" class="ui form">
        {{ form.csrf_token }}

        <div class="ui large form">
            <div class="two fields">
                <div class="required field">
                    <label>Barcode</label>
                    <input name="barcode" class="prompt" placeholder="Sample Barcode" type="text" autofocus>
                    {% for error in form.barcode.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="required field">
                    <label>Rack (Barcode)</label>
                    <input name="rack" value="{{ rack }}" placeholder="Rack barcode" type="text">
                    {% for error in form.rack.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
            <input type="submit" style="visibility: hidden;"/>
        </div>
    </form>

    {% if sample %}


    <p>{% trans %}Ergebnis für: {% endtrans %} {{ search }}</p>

    <div class="ui card">
        <div class="content">
            <div class="header">{{ sample._id }}</div>
            <div class="meta">
                Registrations: {{ sample.registrations | count }}<br>
                Batch: {{ sample.batch }}
            </div>


            <h4 class="ui sub header">{% trans %}Historie{% endtrans %}</h4>
            <div class="extra content">
                <div class="ui small feed">
                    {% for result in sample.results %}
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                {{ result.updated_time.strftime('%Y-%m-%d %H:%M:%S') }}
                                <span>{{ result.status }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>


        </div>
    </div>

    {% elif display_sample != False %}
    <div class="ui error message">
        <p>{% trans %}Barcode nicht gefunden.{% endtrans %}</p>
    </div>
    {% endif %}
</div>


{% endblock %}
