@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap')
@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
}

b, strong {
	font-weight: 700;
}

span {
	color: #ad0028;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin-bottom: 1rem;
}

a {
	outline: none !important;
	text-decoration: none;
}

.technical-problem {
	text-align: center;
}

.technical-problem a {
	color: #ad0028;
}

.technical-problem a:hover {
	color: #ad0028;
	text-decoration: underline;
}

footer {
	display: block;
	margin-top: auto;
	bottom: 0;
	width: 100%;
	flex-shrink: 0;
	line-height: 40px;
	font-size: 15px;
}

footer a {
	color: #ad0028;
}

footer a:hover {
	color: #ad0028;
	text-decoration: underline;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.page-content {
  flex: 1 0 auto;
}

.navbar {
	box-shadow: none !important;
	z-index: 0;
}

/*-----Header for the index page-------*/
.navbar-brand {
	font-size: 15px;
	/*color: #ffffff;*/
}

.index-header {
	transition: all 0.8s ease-in;
	background: white none repeat scroll 0% 0%;*/
	padding-left: 30px;
	font-family: 'Roboto', sans-serif;
	color: black;
	width: 100%;
	height: auto;
	line-height: 100px;
	display: block;
	vertical-align: middle;
	z-index: 10;
}

.index-header img {
	width: 200px;
	height: auto;
}

.zmbh {
	display: flex;
	font-size: 15px;
	line-height: 1.3rem;
	text-decoration: none;
	color: #333333;
}

.index-header a:hover {
	text-decoration: none;
	color: #ad0028;
}

.index-header a.uni-logo {
	float: left;
	/*padding: 20px 20px;*/
}

/*-----Header for inside pages------*/

.page-header {
	transition: all 0.8s ease-in;
	background: #CC0130 none repeat scroll 0% 0%;
	color: #ffffff;
	height: 100px;
	padding: 0;
}

.page-header li a {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.page-header img {
	width: 80px;
	height: auto;
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 150px;
  height: 82px;
	pointer-events: none;
}

.title {
	font-size: 30px;
}

.title a {
	color: #ffffff;
	text-decoration: none;
}

.title a:hover {
	border-bottom: 2px solid #f1f1f1;
}

.material-icons.md-36 {
	font-size: 36px !important;
	height: 36px !important;
	width: 36px !important;
}

.dropdown-lang {
	float:right;
	position: relative;
}
.dropdown-lang .dropbtn {
	font-size: 14px;
	text-align: right;
	border: none;
	outline: none;
	color: inherit;
	padding: 15px 13px;
	background-color: inherit;
}
.content-lang {
	display: none;
	position: absolute;
	min-width: 150px;
	background-color: #CC0130;
	color: #ffffff;
}

.dropdown-lang:hover .content-lang {
	display: block;
}

.content-lang a {
	float: none;
	color: #ffffff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: right;
}

.content-lang a:hover {
		background-color: #ad0028;
}

.page-header .dropdown-lang {
	float: right;
}

.banner {
	color: #222222;
	position: fixed;
	top: 50%;
	left: 50%;
	cursor: default;
	text-align: center;
	width: 80%;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: 100;
}

.bg-overlay {
	padding: 240px 0 220px;
	background-color: RGBA(255, 252, 248, 0.0);
}
.banner-text h2 {
	font-size: 35px;
}
.banner-text h2 span {
	color: #CC0130;
}
.banner-text p {
	padding: 30px;
	font-size: 15px;
}

.banner-text p + p {
	margin-top: -20px;
	padding: 0;
}

.button {
  background-color: #CC0130;
  border: 1px solid rgb(119,136,153, 0.18);
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	margin-top: 20px;
  width: auto;
  height: auto;
  transition-duration: 0.6s;
  cursor: pointer;
}

.button:hover {
  background-color: #ad0028;
	text-decoration: none;
  color: white;
}

.button-small {
  background-color: #222222;
  color: #ffffff;
  padding: 2px 24px 0;
	align-items: center;
	align-content: center;
	align-self: flex-start;
	border: 1px solid transparent;
	border-radius: 4px 4px 4px 4px;
  text-decoration: none;
  display: inline-flex;
	font-size: 14px;
	margin:8px 8px;
  width: auto;
	height: auto;
  min-height: 35px;
  transition-duration: 0.6s;
  cursor: pointer;
	vertical-align: middle;
	-webkit-appearance:none;
}

.button-small:hover {
  background-color: #ad0028;
	text-decoration: none;
	color: #ffffff;
	-webkit-appearance:none;
}

.disabled {
	opacity: 0.65;
	pointer-events: none;
	-webkit-appearance:none;
}

/* bluring effect for consent page */

.container2 {
  align-items: center;
  display: flex;
	justify-content: center;
	flex-direction: column;
  height: 80%;
  width: 80%;
	margin: auto;
}

.container2 h1,
.container2 h2,
.container2 h3,
.container2 h4,
.container2 h5,
.container2 h6 {
	font-weight: 700;
}

.modal-consent {
  background-color: #ffffff;
  color: #222222;
	position: fixed;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  max-width: 100%;
  padding: 1rem 2rem;
	margin: auto;
	align-items: center;
	flex-direction: column;
	overflow: scroll;
	display: flex;
}

.modal-form {
	background-color: #ffffff;
  color: #222222;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  max-width: 100%;
  padding: 1rem 2rem;
	margin: auto;
	align-items: flex-start;
	flex-direction: column;
	overflow: scroll;
	display: none;
}

.modal-form .content {
	top: 50%;
	margin: auto;
	padding: 0;
	width: 600px;
	height: 800px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 19, 0);
  }
  .warning {
    display: none;
  }
}

/* Scrollable consent form */

.scroll-box {
  overflow-y: scroll;
	border: 2px solid #222222;
	padding: 30px;
  width: 50%;
  height: 66.3%;
  margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.scroll-box h1,
.scroll-box h2,
.scroll-box h3,
.scroll-box h4,
.scroll-box h5,
.scroll-box h6 {
	font-weight: 700;
}

.scroll-box ol, .scroll-box ul {
	list-style-position: inside;
	padding-left: 10px;
}


article {
	background-color: white;
	padding: 40px;
	display: block;
}

.content {
	display: block;
	position: relative;
	padding: 70px 0;
  margin-left: auto;
	margin-right: auto;
  width: 66%;
}

.content ul {
  border-left: 0px solid red;
  background-color: white;
  padding: 5px 10px;
	list-style-position: inside;
}

.content ol ul {
	list-style-type: none;
	border-left: 0px none red;
	background-color: white;
	padding: 10px 20px;
}

.content ul li {
	padding: 5px;
}

.content ol {
	border-left: 0px none red;
	background-color: white;
	padding: 5px 10px;
	list-style-position: inside;
}

.video-responsive{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.video-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.page-footer {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	background-color: #222222;
}

.page-footer a {
	color: #ffffff;
	text-align: center;
}

.page-footer a:hover {
	color: #ad0028;
	text-decoration: none;
}

/*#interactive.viewport {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
}

#interactive.viewport > canvas, #interactive.viewport > video {
	max-width: 100%;
	width: 100%;
}

canvas.drawing, canvas.drawingBuffer {
	position: absolute;
	left: 0;
	top: 0;
}*/

@media (min-width:0px) and (max-width: 780px) {
	.title {
		display: none;
	}

	.bg-overlay {
		padding: 200px 0 120px;
	}
	.banner-text h2 {
		font-size: 20px;
	}
	.banner-text p {
		padding: 15px;
		font-size: 12px;
	}
	.index-header {
		height: 50px;
		line-height: 50px;
	}

	.index-header a {
		font-size: 10px;
		line-height: 1rem;
	}

	.index-header img {
		width: 80px;
		height: auto;
	}

	.button {
		display: block;
		padding: 8px 16px;
	  border-radius: 15px 15px 15px 15px;
		width: 200px;
		font-size: 12px;
		margin:10px auto;
	}

	.scroll-box {
		width: 100%;
	}

	.content {
		width: 80%;
	}

	.modal-form .content {
		width: 80%;
	}

	.page-footer {
		font-size: 10px;
	}

}

@media (min-height:0px) and (max-height: 600px) {
	.bg-overlay {
		padding: 20% 0 12%;
	}
	.banner-text h2 {
		font-size: 20px;
	}
	.banner-text p {
		padding: 14px;
		font-size: 12px;
	}
	.index-header {
		height: 50px;
		line-height: 50px;
	}

	.index-header h2 {
		font-size: 15px;
	}

	.index-header img {
		width: 80px;
		height: auto;
	}

	.button {
		display: inline-block;
		padding: 8px 16px;
		border-radius: 15px 15px 15px 15px;
		width: 200px;
		font-size: 12px;
		margin:10px auto;
	}

	.page-footer {
		font-size: 10px;
	}

}

@media (min-height:601px) and (max-height: 1200px) {

	.page-footer {
		font-size: 10px;
	}
}
