@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');
@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
a {
	outline: none !important;
	text-decoration: none;
}

/*-----Header & Banner Starts-------*/
.index-header {
	transition: all 0.8s ease-in;
	background: white none repeat scroll 0% 0%;*/
	padding-left: 30px;
	font-family: 'Roboto', sans-serif;
	color: black;
	width: 100%;
	height: auto;
	line-height: 100px;
	display: block;
	vertical-align: middle;
}

.index-header img {
	width: 200px;
	height: auto;
}

.index-header h2 {
	font-size: 20px;
}

.dropdown-lang {
	 position: relative;
	 display: inline-block;
}

.content-lang {
	display: none;
	position: absolute;
	background-color: #CC0130;
	color: white;
}

.dropdown-lang:hover .content-lang {
	display: block;
}

.content-lang a:hover {
		background-color: #ad0028;
}

.index-header a.uni-logo {
	float: left;
	/*padding: 20px 20px;*/
}

.index-header .dropdown-lang {
	float: right;
}

.banner {
	position: absolute;
	color: #2F4F4F;
	cursor: default;
	text-align: center;
	width: 80%;
	height: auto;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bg-overlay {
	padding: 280px 0 220px;
	background-color: RGBA(255, 252, 248, 0.0);
}
.banner-text h2 {
	font-size: 45px;
}
.banner-text h2 span {
	color: #CC0130;
}
.banner-text p {
	padding: 30px;
	font-size: 15px;
}
.button {
  background-color: #CC0130;
  border: 1px solid rgb(119,136,153, 0.18);
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px 25px 25px 25px;
	font-size: 18px;
	margin-top: 20px;
  width: auto;
  height: auto;
  transition-duration: 0.6s;
  cursor: pointer;
}
.button:hover {
  background-color: #ad0028;
	text-decoration: none;
  color: white;
}

.button-small {
  background-color: #ffffff;
  color: #222222;
  padding: 2px 24px 0;
	align-items: center;
	align-content: center;
	align-self: flex-start;
	border: 1px solid transparent;
	border-radius: 4px 4px 4px 4px;
  text-decoration: none;
  display: inline-flex;
	font-size: 14px;
	margin:8px 8px;
  width: auto;
	height: auto;
  min-height: 35px;
  transition-duration: 0.6s;
  cursor: pointer;
	vertical-align: middle;
}

.button-small:hover {
  background-color: #ad0028;
	text-decoration: none;
  color: white;
}

.disabled {
	opacity: 0.4;
	pointer-events: none;
}

/* bluring effect for consent page */

.container2 {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.modal-consent {
  background-color: #CC0130;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  max-width: 100%;
  padding: 1rem 2rem;
	margin: auto;
	align-items: center;
	flex-direction: column;
	overflow: scroll;
	display: none;
}

.modal-form {
	background-color: #CC0130;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  max-width: 100%;
  padding: 1rem 2rem;
	margin: auto;
	align-items: flex-start;
	flex-direction: column;
	overflow: scroll;
	display: none;
}

/*@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(80, 0, 19, 0.5);
  }
  .warning {
    display: none;
  }
} */

.scroll-box {
  overflow-y: scroll;
	text-align: justify;
	text-justify: inter-word;
	border: 2px solid #ffffff;
	padding: 30px;
  width: 33.3%;
  height: 85.3%;
  margin: auto;
}

.scroll-box ol, .scroll-box ul {
	list-style-position: inside;
	padding-left: 10px;
}


/* Scrollable consent form */
article {
	background-color: white;
	padding: 40px;
	display: block;
}

.footer {
	font-family: 'Roboto', sans-serif;
	padding: 15px;
	width: 100%;
	bottom: 0;
	color: white;
	text-align: right;
	background-color: #222222;
	margin-top: 15px;
	position: fixed;
}

.footer a {
	float: right;
	color: #93969A;
	text-align: center;
	border-radius: 4px;
	width: auto;
	font-size: 14px;
	line-height: 25px;
}

.footer a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 60%;
	position: fixed;
}

.content ul {
  border-left: 0px solid red;
  background-color: white;
  padding: 20px 30px;
}

.content ol ul {
	list-style-type: none;
	border-left: 0px none red;
	background-color: white;
	padding: 10px 20px;
}

.content ul li {
	padding: 5px;
}

.content ol {
	border-left: 0px none red;
	background-color: white;
	padding: 20px 30px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media (min-width:0px) and (max-width: 780px) {
	.bg-overlay {
		padding: 200px 0 120px;
	}
	.banner-text h2 {
		font-size: 20px;
	}
	.banner-text p {
		padding: 20px;
		font-size: 15px;
	}
	.index-header {
		height: 50px;
		line-height: 50px;
	}

	.index-header h2 {
		font-size: 15px;
	}

	.index-header img {
		width: 80px;
		height: auto;
	}

	.button {
		display: block;
		padding: 8px 16px;
	  border-radius: 15px 15px 15px 15px;
		width: 200px;
		font-size: 12px;
		margin:10px auto;
	}

	.scroll-box {
		width: 100%;
	}

}

@media (min-height:0px) and (max-height: 600px) {
	.bg-overlay {
		padding: 200px 0 120px;
	}
	.banner-text h2 {
		font-size: 20px;
	}
	.banner-text p {
		padding: 20px;
		font-size: 15px;
	}
	.index-header {
		height: 50px;
		line-height: 50px;
	}

	.index-header h2 {
		font-size: 15px;
	}

	.index-header img {
		width: 80px;
		height: auto;
	}

	.button {
		display: block;
		padding: 8px 16px;
		border-radius: 15px 15px 15px 15px;
		width: 200px;
		font-size: 12px;
		margin:10px auto;
	}

}
