@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');
@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
a {
	outline: none !important;
	text-decoration: none;
}

/*-----Header & Banner Starts-------*/
.index-header {
	transition: all 0.8s ease-in;
	background: white none repeat scroll 0% 0%;*/
	padding-left: 30px;
	font-family: 'Roboto', sans-serif;
	color: black;
	height: 150px;
	width: 100%;
	line-height: 100px;
	display: inline-block;
	vertical-align: middle;
}

.dropdown-lang {
	 position: relative;
	 display: inline-block;
}

.content-lang {
	display: none;
	position: absolute;
	background-color: #CC0130;
	color: white;
}

.dropdown-lang:hover .content-lang {
	display: block;
}

.content-lang a:hover {
		background-color: #ad0028;
}

.index-header a.uni-logo {
	float: left;
	padding: 20px 20px;
}

.index-header .dropdown-lang {
	float: right;
}

.banner {
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	color: #2F4F4F;
	cursor: default;
	text-align: center;
	width: 100%;
	height: auto;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bg-overlay {
	padding: 280px 0 220px;
	background-color: RGBA(255, 252, 248, 0.0);
}
.banner-text h2 {
	font-size: 30px;
}
.banner-text h2 span {
	color: #EB233C;
}
.banner-text p {
	padding: 30px;
	font-size: 15px;
}
.button {
  background-color: #778899;
  border: 1px solid rgb(119,136,153, 0.18);
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px 25px 25px 25px;
	font-size: 18px;
	margin-top: 50px;
  width: auto;
  height: auto;
  transition-duration: 0.6s;
  cursor: pointer;
}
.button:hover {
  background-color: #EB233C;
	text-decoration: none;
  color: white;
}

.disabled {
	opacity: 0.4;
	pointer-events: none;
}

@media (min-width:0px) and (max-width: 600px) {
	.bg-overlay {
		padding: 240px 0 120px;
	}
	.banner-text h2 {
		font-size: 20px;
	}
	.banner-text p {
		font-size: 15px;
	}
	.index-header {
		height: 50px;
		line-height: 50px;
	}

	.index-header h3 {
		font-size: 15px;
	}

	.button {
		display: block;
		padding: 8px 16px;
	  border-radius: 15px 15px 15px 15px;
		width: 200px;
		font-size: 12px;
		margin:10px auto;
	}

}

/* Scrollable consent form */
article {
	background-color: white;
	padding: 40px;
	display: block;
}

.footer {
	font-family: 'Roboto', sans-serif;
	padding: 20px;
	width: 100%;
	bottom: 0;
	color: white;
	text-align: right;
	background-color: #CC0130;
	margin-top: 20px;
	position: fixed;
}

.footer a {
	float: right;
	color: white;
	text-align: center;
	border-radius: 4px;
	width: auto;
	font-size: 14px;
	line-height: 25px;
}

.footer a:hover {
	background-color: #ad0028;
}

.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 60%;
	position: fixed;
}

.content ul {
  border-left: 0px solid red;
  background-color: white;
  padding: 20px 30px;
}

.content ol ul {
	list-style-type: none;
	border-left: 0px none red;
	background-color: white;
	padding: 10px 20px;
}

.content ul li {
	padding: 5px;
}

.content ol {
	border-left: 0px none red;
	background-color: white;
	padding: 20px 30px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
