{% load i18n %}
{% load permissions %}
<div style="margin: 10px;" class="ui top large menu">
    <a class="header item" href="{% url 'app:lab_index' %}">
        <i class="flask icon"></i> COVID19-LAB
    </a>
    {% if user.is_authenticated %}
    <div class="ui simple dropdown item">
        {% trans 'Proben' %}
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="{% url 'app:query'  %}" class="item">
                {% trans 'Suchen' %}
            </a>
            {% if user|is_in_group:"lab_user" %}
            <a href="{% url 'app:checkin'  %}" class="item">
                {% trans 'Mehrere Bearbeiten' %}
            </a>
            {% endif %}
        </div>
    </div>
    {% if user|is_in_group:"lab_user" %}
    <div class="ui simple dropdown item">
        {% trans 'Beutel' %}
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="{% url 'app:bag_search'  %}">Suchen/Statistiken</a>
            <a class="item">Ausgabe</a>
            <a class="item">Verwaltung</a>
        </div>
    </div>
    {% endif %}
    <div class="right menu">
        <div class="ui item">logged in as {{ user.username }}</div>
        <a class="ui item" href="{% url 'app:logout' %}">Log Out</a>
    </div>
    {% endif %}
</div>