{% load i18n %}
{% load permissions %}
<div style="margin: 10px;" class="ui top large menu">
    <a class="header item" href="{% url 'app:lab_index' %}">
        <i class="flask icon"></i> COVID19-LAB
    </a>
    {% if user.is_authenticated %}
    {% if user|is_allowed_to:"read_and_edit" %}
    <a href="{% url 'app:query'  %}" class="item">
        {% trans 'Probe suchen' %}
    </a>
    <a href="{% url 'app:checkin'  %}" class="item">
        {% trans 'Batch Proben Status' %}
    </a>
    {% else %}
    <a href="{% url 'app:query'  %}" class="item">
        {% trans 'Probe suchen' %}
    </a>
    {% endif %}
    <div class="right menu">
        <div class="ui right simple dropdown item">
            Languages
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Deutsch</div>
                <div class="item">English</div>
            </div>
        </div>
        <div class="ui item">logged in as {{ user.username }}</div>
        <a class="ui item" href="{% url 'app:logout' %}">Log Out</a>
    </div>
    {% endif %}
</div>
