{% load i18n %}
<div style="margin: 10px;" class="ui top large menu">
    <a class="header item" href="{% url 'app:index' %}">
        <i class="flask icon"></i> COVID19-LAB
    </a>
    <a href="{% url 'app:checkin'  %}" class="item">
        {% trans 'Probeneingang' %}
    </a>
    <a href="{% url 'app:edit_rack'  %}" class="item">
        {% trans 'Rack editieren' %}
    </a>
    <a href="{% url 'app:query'  %}" class="item">
        {% trans 'Probe suchen' %}
    </a>
    <a href="{% url 'app:barcodes'  %}" class="item">
        {% trans 'Generate barcodes' %}
    </a>
    <a href="{% url 'admin:index'  %}" class="item">
        {% trans 'Admin' %}
    </a>
    <div class="right menu">
        <div class="ui right simple dropdown item">
            Languages
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Deutsch</div>
                <div class="item">English</div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="ui item">logged in as {{ user.username }}</div>
          <a class="ui item" href="{% url 'admin:logout' %}">Log Out</a>
        {% else %}
          <a class="ui item" href="{% url 'admin:login' %}">Log In</a>
        {% endif %}
    </div>
</div>
