{% load i18n %}
{% load permissions %}

<div class="content">
    <h2 class="ui header">Barcode: {{ sample.barcode }}</h2>
    <div class="meta">
        <h3 style="display: inline">Access code:</h3> {{ sample.access_code }}<br>
        <h3 style="display: inline; margin-top: 15px">Rack:</h3> {{ sample.rack }}<br>
        <h3 style="display: inline; margin-top: 15px">Bag:</h3><br>
        <div style="margin-left: 10px; margin-top: 5px">
            <b>ID: </b>{{ sample.bag.id }}<br>
            <b>Name: </b>{{ sample.bag.name }}<br>
            <b>Kommentar: </b>{{ sample.bag.comment }}<br>
            <b>Ausgegeben Am: </b>{% if sample.bag.handed_out_on %}{{ sample.bag.handed_out_on }}{% else %}--{% endif %}<br>
            <b>Ausgegeben Von: </b>{% if sample.bag.handed_out_by %}{{ sample.bag.handed_out_by }}{% else %}
            --{% endif %}<br>
            <b>Abnehmer: </b>{% if sample.bag.recipient %}{{ sample.bag.recipient.recipient_name }}{% else %}--{% endif %}
        </div>
    </div>

    <h2 class="ui header">Historie</h2>
    <table class="ui selectable celled red padded table">
        <thead>
        <tr>
            <th class="single line">Bearbeitet am</th>
            <th class="single line">Status</th>
            <th class="single line">Kommentar</th>
            <th class="single line">Status gesetzt von</th>
        </tr>
        </thead>
        <tbody>


        {% for event in sample.events.all %}
            <tr>
                <td class="single line">
                    {{ event.updated_on|date:"Y-m-d H:i:s" }}
                </td>

                <td>
                    <h4 class="ui center aligned header">{{ event.status }}</h4>
                </td>
                <td>
                    {% if event.comment %}
                        {{ event.comment }}
                    {% endif %}
                </td>
                <td class="single line">
                    {% if event.updated_by %}
                        {{ event.updated_by }}
                    {% endif %}
                </td>

            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th colspan="4">
                <a href="{% url 'app:status_preview' %}?id={{ sample.barcode }}"
                   class="ui right floated small primary labeled icon button" type="submit">
                    <i class="eye icon"></i>Was sieht der Teilnehmer?
                </a>
            </th>
        </tr>
        </tfoot>
    </table>


    <h3 class="ui header">Registrierungen</h3>
    <div style="margin-bottom: 10px;" class="extra content">
        <div class="ui small feed">
            {% for reg in sample.registrations.all %}
                <div class="event">
                    <div class="content">
                        <div class="summary">
                            {{ reg.time|date:"Y-m-d H:i:s" }}
                        </div>
                        <div class="regInfo">
                            Schlüssel-Fingerprint:
                            <span style="font-weight: bold;">{{ reg.public_key_fingerprint }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <button class="ui button" onclick="requestPrivateKey();">Registrierungen entschüsseln</button>
    <div class="ui negative hidden message prKeyMessage" id="encrypted">
        Ihre geheimer Schlüssel is verschlüsselt. Bitte versuchen Sie es noch einmal und geben Sie
        das Passwort für Ihren privaten Schlüssel an.
    </div>
    <div class="ui negative hidden message prKeyMessage" id="wrongPassword">
        Das Passwort für Ihren privaten Schlüssel war falsch. Bitte versuchen Sie es noch einmal.

    </div>
    <div class="ui negative hidden message prKeyMessage" id="notPrivateKey">
        Die gewählte Datei enthält keinen RSA-Geheimschlüssel.
    </div>
    <div class="ui negative hidden message prKeyMessage" id="notPem">
        Die gewählte Datei ist keine Schlüssel-Datei im PEM-Format.
    </div>
    <div class="ui negative hidden message prKeyMessage" id="wrongKey">
        Der geheime Schlüssel passt nicht zu der verschlüsselten Information.
    </div>
    <div class="ui negative hidden message prKeyMessage" id="somethingElse"></div>


    <div class="ui tiny modal">
        <div class="ui header">Bitte wählen Sie die PEM-Datei mit Ihrem RSA-Geheimschlüssel.
        </div>
        <div class="content">
            <form class="ui form" id="prKeyInput">
                <div class="required field">
                    <label>Geheimschlüssel-Datei (.pem)</label>
                    <div class="ui icon input">
                        <input type="file" style="display: none;">
                        <input type="text" placeholder="PrivateKey.pem" readonly>
                        <i class="attach icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Passwort für den Geheimschlüssel (optional)</label>
                    <input type="password">
                </div>
            </form>
            <div class="ui negative hidden message">
                <p>Bitte wählen Sie die PEM-Datei mit Ihrem RSA-Geheimschlüssel.</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Abbrechen</div>
            <div class="ui approve button">Entschlüsseln</div>
        </div>
    </div>


    {% if user|is_in_group:"lab_user" %}
        <div class="ui bottom attached message" style="margin-top: 30px">
            <h3>Status der Probe &auml;ndern</h3>
            <form action="{% url 'app:query' %}" class="ui form" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>Status der Probe</label>
                    {{ edit_form.status }}
                </div>
                <div class="field">
                    <label>Rack</label>
                    {{ edit_form.rack }}
                </div>
                <div class="field">
                    <label>Kommentar</label>
                    {{ edit_form.comment }}
                </div>
                <input name="barcode" value="{{ sample.barcode }}" hidden>
                <button name="edit" class="ui button" type="submit">Speichern</button>
            </form>
        </div>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
<script type="text/javascript">
  $("#prKeyInput input:text").click(function () {
    $(this).parent().find("input:file").click();
  });
  $("#prKeyInput input:file").on("change", function (e) {
    var name = e.target.files[0].name;
    $(this).parent().find("input:text").val(name);
  });

  var registrations = [];
  {% for reg in sample.registrations.all %}
    registrations.push({
      name_encrypted: '{{ reg.name_encrypted }}',
      address_encrypted: '{{ reg.address_encrypted }}',
      contact_encrypted: '{{ reg.contact_encrypted }}',
      session_key_encrypted: '{{ reg.session_key_encrypted }}',
      aes_instance_iv: '{{ reg.aes_instance_iv }}'
    });
  {% endfor %}

  function requestPrivateKey() {
    $(".ui.tiny.modal")
      .modal({
        onApprove: function () {
          var files = $(this).find("input:file").prop("files");
          $(".prKeyMessage").hide();
          if (files.length == 0) {
            $(this).find(".message").show();
            return false
          } else {
            $(this).find(".message").hide();
            loadKey(files[0], $(this).find("input:password").val());
            return true;
          }
        }
      })
      .modal("show");
  };

  function loadKey(file, password) {
    var decrypted = [];

    var reader = new FileReader();
    reader.readAsText(file);
    reader.onload = function (evt) {
      registrations.forEach(data => {
        var decryptedData;
        try {
          decryptedData = decrypt(data, reader.result, password);
        } catch (e) {
          if (e.message.indexOf("PEM is encrypted") > -1) {
            $("#encrypted").show();
          } else if (e.message.indexOf("privateKey is null") > -1) {
            $("#wrongPassword").show();
          } else if (e.message.indexOf("PEM header type is not") > -1) {
            $("#notPrivateKey").show();
          } else if (e.message.indexOf("Invalid PEM formatted message") > -1) {
            $("#notPem").show();
          } else if (e.message.indexOf("padding") > -1) {
            $("#wrongKey").show();
          } else {
            $("#somethingElse")
              .html(e.message)
              .show();
          }
          decryptedData = {};
        }

        decrypted.push(decryptedData);
      });
      addRegInfo(decrypted);
    }
    reader.onerror = function (evt) {
      alert("Error reading private key file");
    }
  };

  function addRegInfo(regInfo) {
    $(".regInfo").each((i, el) => {
      var inf = Object.keys(regInfo[i])
        .reduce((str, key) => str + "<b>" + key + ":</b> " + regInfo[i][key] + "<br>", "");
      if (inf) $(el).html(inf);
    })
  };

  function decrypt(data, privateKeyPem, password) {
    var privateKey;
    if (password)
      privateKey = forge.pki.decryptRsaPrivateKey(privateKeyPem, password)
    else
      privateKey = forge.pki.privateKeyFromPem(privateKeyPem);

    Object.keys(data).forEach(key => {
      data[key + "_decoded"] = forge.util.decode64(data[key]);
    });

    var session_key = privateKey.decrypt(data.session_key_encrypted_decoded, "RSAES-OAEP");

    var encrypted_fields = ["name", "address", "contact"];

    var decipher = forge.cipher.createDecipher('AES-CBC', session_key);
    decipher.start({iv: data.aes_instance_iv_decoded});
    encrypted_fields.forEach(el => {
      decipher.update(forge.util.createBuffer(data[el + "_encrypted_decoded"]));
    })

    var output = decipher.output.data;

    var result = {};
    var i = 0;
    encrypted_fields.forEach(el => {
      result[el] = output
        .slice(i, i + data[el + "_encrypted_decoded"].length)
        .replace(/\0/g, '');
      i += data[el + "_encrypted_decoded"].length;
      result[el] = forge.util.decodeUtf8(result[el])
    });

    return result;
  }
</script>