{% load i18n %}
{% load static %}

<html>
<head>
    <title>
        {% with request.resolver_match.view_name as view_name %}
                {% if view_name == "app:access_check" %}
                    {% blocktrans %}Zugangscode{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Seite{% endblocktrans %}
                {% endif %}
        {% endwith %}
    </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% if LANGUAGE == '--' %}
    {% else %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'style/semantic-ui/semantic.min.css' %}"
    />
    <script src="{% static 'style/js/jquery.min.js' %}"></script>
    <script src="{% static 'style/semantic-ui/semantic.min.js' %}"></script>
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css'>
    {% endif %}

    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'main_style.css' %}"
    />
    <style>
        .ui.checkbox input[type="checkbox"] + label::before{
            border-width: 2px;
            border-color: black;
            border-radius: 4px;
        }

    </style>
</head>
<body style="padding-top: 20px;" class="page">



{% block header %}
{% endblock %}


<!-- bm 2022-12-22 -->
<p> 
<h2>
Dear colleagues, 

The year is coming to an end, and with it our Corona tests. Next year
we will most likely not test again. Thank you for taking part in our
tests!

We wish you a happy new year and good health!

The Corona Test Team
</h2>

</p>


{% if messages %}
{% for message in messages %}
<div style="margin: 30px auto -30px auto; max-width: 912px;" class="ui message {% if message.tags %}{{ message.tags }}{% endif %}">
    {{ message }}
</div>
{% endfor %}
{% endif %}


<div style="max-width: 1000px; margin: 0 auto;" class="ui centered stackable grid">
    <div style="min-height: 30vh;" class="sixteen wide column">
        <div class="ui content">
            <div style="margin-bottom: 10px;">
            {% with request.resolver_match.view_name as view_name %}
                {% if view_name != "app:access_check" %}
                    <a href="{% url 'app:access_check' %}"><i class="left arrow icon divider"></i>{% blocktrans %}Zurück: Zugangscode eingeben{% endblocktrans %}</a>
                {% endif %}
            {% endwith %}
            </div>

            {% block content %} {% endblock %}
        </div>
    </div>


    <div style="" class="four column centered footer row">
        {% block footer %} {% include 'public/snippets/footer.html' %} {% endblock%}
    </div>
</div>


</body>
</html>
