{% load i18n %}
{% load static %}

<html lang="de">
<head>
    <title>
        {% blocktrans %}Test der Universität Heidelberg auf das
        Covid-19-Coronavirus (SARS-CoV-2){% endblocktrans %}
    </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% if LANGUAGE == '--' %}
    {% else %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'style/semantic-ui/semantic.min.css' %}"
    />
    <script src="{% static 'style/js/jquery.min.js' %}"></script>
    <script src="{% static 'style/semantic-ui/semantic.min.js' %}"></script>
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css'>
    {% endif %}

    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'main_style.css' %}"
    />
    <style>
        .ui.checkbox input[type="checkbox"] + label::before{
            border-width: 2px;
            border-color: black;
            border-radius: 4px;
        }

    </style>
</head>
<body class="page">

{% block header %}

<div class="ui top stackable menu page">
    <div class="logo item">
        <img class="logo" src="{% static 'media/logo_uni_mono_text.svg' %}">
    </div>

    <div class="header item">
        <h2 class="ui header menubar">
            {% blocktrans %}Test auf COVID-19{% endblocktrans %}
            <div class="sub header">{% blocktrans %}LAMP basierter Test auf das Coronavirus SARS-CoV-2{% endblocktrans %}
            </div>
        </h2>
    </div>

    <div class="right menu">
        {% get_language_info_list for LANGUAGES as languages %}
        {% if languages|length > 1 %}
        <form action="{% url 'set_language' %}" method="post" class="ui simple dropdown item language">
            {% csrf_token %}
            <i class="globe icon"></i>
            Language <i class="dropdown icon"></i>
            <div class="menu">
                {% for language in languages %}
                    <button name="language" value="{{ language.code }}" class="item">
                        {% if language.code == LANGUAGE_CODE %}
                            <b>{{ language.name_local }}</b>
                        {% else %}
                            {{ language.name_local }}
                        {% endif %}
                    </button>
                {% endfor %}
            </div>
        </form>
        {% endif %}
    </div>


</div>


{% endblock %}

{% if messages %}
{% for message in messages %}
<div style="margin: 10px;" class="ui message {% if message.tags %}{{ message.tags }}{% endif %}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="ui centered stackable grid">
    <div style="min-height: 60vh;" class="twelve wide column">
        <div style="max-width: 1000px; margin: 0 auto;" class="ui content">
            {% with request.resolver_match.view_name as view_name %}
                {% if view_name == "app:home" %}
                    <a href="{% url 'app:access_check' %}"><i class="left arrow icon divider"></i>{% blocktrans %}Zurück: Zugangscode eingeben{% endblocktrans %}</a>
                {% else %}
                    <a href="{% url 'app:home' %}"><i class="left arrow icon divider"></i>{% blocktrans %}Zurück: Home{% endblocktrans %}</a>
                {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
            {% block additional_content %} {% endblock %}
        </div>
    </div>

    <div style="margin: 0 auto; max-width: 1000px;">
    <div class="ui center aligned container">
        {% blocktrans %}Corona-Tests werden jeden Montag und Donnerstag durchgeführt. Die Proben können bis Montag-/ Donnerstagmorgen 10Uhr in den Briefkästen für die Probensammlung abgegeben werden.{% endblocktrans %}
    </div>
    </div>

    <div style="" class="four column centered footer row">
        {% block footer %} {% include 'public/footer.html' %} {% endblock%}
    </div>
</div>


</body>
</html>
