{% extends "public/base.html" %}
{% load i18n %}

{% block content %}
<h1 class="ui header centered">{% blocktrans %}Einverständnis zur Teilnahme{% endblocktrans %}</h1>
<h3>Informationsschrift {{page_number}} von {{num_pages}}</h3>

<div>
    {% block preamble %} {% endblock %}
</div>

<div class="consent-box">
    {% block info_text %} {% endblock %}
</div>

<form class="ui form" action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="consent_type" value="{{consent_type}}">
    <div style="text-align: center;" class="field">
        <div class="ui checkbox">
            <input
                    name="consent_given"
                    type="checkbox"
                    id="TOC"
                    value="1"
                    onclick="EnableSubmit(this)"
            />
            <label>
            {% block checkbox_text %} {% endblock %}
            </label>
        </div>
    </div>

    <div class="field" style="text-align: center">
        <a href="{% url 'app:index' %}" id="closeform" class="ui primary button"
        >{% blocktrans %}Zurück{% endblocktrans %}</a
        >
        <button
                type="submit"
                id="showForm"
                class="ui primary button"
                disabled
        >
            {% blocktrans %}Weiter{% endblocktrans %}
        </button>
    </div>
</form>

<script>
  //JavaScript function that enables or disables a submit button depending
  //on whether a checkbox has been ticked or not.
  function EnableSubmit(termsCheckBox) {
    //If the checkbox has been checked
    if (termsCheckBox.checked) {
      //Set the disabled property to FALSE and enable the button.
      document.getElementById("showForm").disabled = false;
      document.getElementById("showForm").classList.remove("disabled");
    } else {
      //Otherwise, disable the submit button.
      document.getElementById("showForm").disabled = true;
      document.getElementById("showForm").classList.add("disabled");
    }
  }

</script>
{% endblock %}
