{% load i18n %}
<footer class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui horizontal small divided link list">
            <a class="item" href="{% url 'app:index' %}">Home</a>
            <a class="item" href="{% url 'app:pages' page='contact.html' %}">{% blocktrans %}Kontakt{% endblocktrans %}</a>
            <a class="item" href="{% url 'app:pages' page='impressum.html' %}"
            >{% blocktrans %}Impressum{% endblocktrans %}</a>
        </div>
    </div>
</footer>
