<p><strong>Studie zu neuartigen Corona-Teststrategien für die
        Allgemeinbevölkerung</strong></p>
<p><strong>Teilnahme an der Corona-Forschungsstudie: Informationsschrift für
        Kinder</strong></p>
<p><strong>Du hast sicher schon vom neuen Coronavirus gehört!</strong></p>
<p><strong>Wir machen eine Studie darüber und</strong> <strong>auch Kinder von
        7</strong> <strong>bis</strong> <strong>11 Jahren dürfen
        mitmachen.</strong></p>
<p><strong>Die Studie heißt: Studie zu Corona-Teststrategien für die
        Allgemeinbevölkerung.</strong></p>
<p>Das hört sich kompliziert an, ist es aber eigentlich nicht. Wenn Du hier
    weiterliest, erfährst Du mehr.</p>
<p><strong>Was ist überhaupt eine Studie?</strong> In einer Studie versuchen
    Wissenschaftler*innen etwas herauszufinden, beispielsweise über Krankheiten.
    Wir forschen in Laboren und führen viele verschiedene Test durch um zu
    lernen, wie wir kranken Menschen helfen und wie wir verhindern können, dass
    gesunde Menschen krank werden. Damit wir forschen können, brauchen wir
    Proben und wir machen Tests.</p>
<p><strong>Wer sind wir? Um was geht es bei einer Studie?</strong></p>
<p>Wir sind Wissenschaftler*innen von der Universität in Heidelberg,
    Forscher*innen aus der Biologie und der Medizin, Biochemiker*innen,
    Virolog*innen und Ärzt*innen. Wir wollen Proben sammeln, damit wir mehr über
    dieses neue Coronavirus herausfinden können. Unsere Namen und Adressen
    findest Du am Schluss dieses Textes. Du kannst uns sogar anrufen, wenn Du
    Fragen hast. Doch zuerst lies weiter.</p>
<p>Das Coronavirus ist schuld daran, dass Du im Frühjahr nicht in die Schule
    gehen konntest. Wir möchten wissen, wer sich damit angesteckt hat, und wie
    so eine Ansteckung überhaupt passieren kann. Dann können wir vielleicht
    verhindern, dass das so häufig geschieht und wieder alle Schulen schließen
    müssen. Dann können hoffentlich auch die Kinos, Sporthallen, Theater und
    Restaurants offenbleiben.</p>
<p><strong>Wie kannst Du uns bei dieser Studie helfen?</strong> Ganz
    einfach<strong>,</strong> Du lässt Dich von uns auf das Virus testen, das
    heißt, Du machst einen Corona-Test. Davon hast Du doch sicher schon gehört?
    Vielleicht auch schon mal einen gemacht? Hat Dir da eine Ärztin, ein Arzt,
    ein Pfleger oder eine Krankenschwester ein Wattestäbchen tief in die Nase
    gesteckt? Das war sicher unangenehm. Bei uns ist das anders: Wir spucken
    drauf! Warum? Weil unser Test mit Spucke funktioniert.</p>
<p>Für unseren Test musst Du auch noch ein bisschen gurgeln, und dann alles
    ausspucken, mehr nicht. Es ist eigentlich ganz einfach. Das mag für Dich
    eklig klingen, wenn wir dann Deine Spucke untersuchen, aber wir
    Wissenschaftler*innen sind noch viel ekligere Proben gewöhnt. Für uns ist es
    spannend herauszufinden, ob sich darin das Virus befindet. Und weil wir
    Wissenschaftler*innen sind, wollen wir auch neue Methoden ausprobieren, um
    das rauszufinden. Die dann hoffentlich noch besser sind. Und dabei kannst Du
    uns mit Deiner Spucke helfen.</p>
<p><strong>Ist das Coronavirus gefährlich für Kinder?</strong> Du hast sicher
    schon viel darüber gehört. Darum hier nur ganz kurz: Hattest Du mal einen
    rauen Hals in letzter Zeit? Oder ein bisschen Fieber? Das könnte das
    Coronavirus gewesen sein, vielleicht aber auch eine normale Erkältung. Mehr
    passiert bei den allermeisten Kindern nicht, wenn sie das Virus kriegen. Da
    haben es die Kinder gut; bei alten und kranken Leuten kann das Virus auch
    sehr gefährlich sein. Darum wollen wir herausfinden, wer das Virus hat, um
    es zu stoppen.</p>
<p><strong>Willst Du mehr über das Virus erfahren:</strong> Dann frag Deine
    Eltern oder vielleicht auch eine Lehrerin oder einen Lehrer, ob sie Dir mehr
    dazu sagen. Es gibt auch ganz tolle Videos im Internet, wo Du viel mehr
    erfahren kannst, z. B. was man schon weiß zur Verbreitung vom Corona und was
    man machen soll, wenn jemand das Coronavirus hat.</p>
<p>Unter diesen Links findest Du Videos mehr zum Coronavirus:</p>
<p><strong>https://www.youtube.com/watch?v=_kU4oCmRFTw</strong></p>
<p><strong>https://www1.wdr.de/mediathek/av/video-corona--fuer-kinder-erklaert-100.html</strong>
</p>
<p><strong>Du willst also beim Corona Test mitmachen</strong> <strong>–</strong>
</p>
<p><strong>sehr gut! </strong></p>
<p>Wenn Du das gerade liest, dann kannst Du mitmachen. Du hast nämlich ein
    Probenröhrchen und ein kleines Plastikfläschchen mit etwas Salzwasser
    gekriegt. Damit kannst Du gurgeln und dann mit einem Strohhalm, der auch mit
    dabei ist, das Salzwasser und auch noch Spucke in das Fläschchen zurücktun.
    Dann must Du das Fläschchen wieder gut verschließen und sehr kräftig
    schütteln. Jetzt musst Du nur noch ein bisschen von Deiner gut gemischten
    Spucke in das kleine Röhrchen mit den Strichen auf der Seite einfüllen. Das
    ist das Probenröhrchen. Diese Röhrchen brauchen die Wissenschaftler*innen
    für den Test. Das kleine Röhrchen passt direkt in unsere Maschine hinein, in
    der wir messen, ob in Deiner Probe das Coronavirus ist. Du musst mit einer
    Schere die Spitze des Fläschchens abschneiden und dann vorsichtig die Spucke
    in das kleine Röhrchen einfüllen. Nicht zu voll machen und gut verschließen
    am Schluss, sonst läuft das Röhrchen aus, und das wäre echt schade. Bitte
    frag Deine Eltern ob sie Dir helfen, falls Du unsicher bist.</p>
<p>Alle klar? Noch klarer wird es, wenn Du den kurzen Film anschaust, den wir
    dazu gemacht haben oder wenn Du Dir den Comic in diesem Heft anschaust. Den
    Film findest Du unter xxx.xxx.de. Schau Dir den Film am besten zusammen mit
    Deinen Eltern an, dann können sie Dir auch helfen und Du weißt sofort, was
    Du machen musst.</p>
<p><strong>Noch was ganz Wichtiges</strong></p>
<p>Am besten machst Du das mit dem Teströhrchen morgens vor dem Frühstück und
    vor dem Zähneputzen. Wir sind nämlich nicht daran interessiert, was Du zum
    Frühstück gegessen hast oder was für eine Zahnpasta Du benutzt. Am besten
    funktioniert der Test, wenn wir das nicht auch noch mit in der Probe haben.
    Und noch was: Wenn Du keine Lust hast, dann musst Du beim Test auch nicht
    mitmachen. Das entscheidest Du alleine.</p>
<p><strong>Und wenn Du die Proben eingefüllt hast, was kommt als
        Nächstes?</strong></p>
<p>Jetzt muss das kleine Röhrchen zu uns ins Labor - und zwar so schnell wie
    möglich. Dazu gibt es verschiedene Möglichkeiten. Doch darum kümmern sich
    Deine Eltern. Aber die dürfen das nicht vergessen, sag ihnen das bitte.</p>
<p><strong>In meinem Speichel befindet sich Coronavirus: Hilfe!</strong></p>
<p>Im Labor untersuchen die Wissenschaftler*innen Deine Probe. Dabei wenden sie
    sogenannte molekularbiologische Methoden an, um Teile des Coronavirus
    nachzuweisen. Sagen wir mal, sie werden fündig und finden das Virus, was ist
    dann?</p>
<p>Dann geben sie Dir natürlich Bescheid – schon klar. Und für Dich heißt es: zu
    Hause bleiben und warten bis das Virus weg ist. Das geht nämlich bei Kindern
    fast immer sehr schnell weg, und schon ein paar wenige Tage, nachdem der
    Husten oder das Fieber verschwunden sind, ist auch vom Virus nur noch so
    wenig übrig, dass Du damit niemanden mehr anstecken kannst. Aber was Du
    genau machen musst, sagen Dir dann die Mitarbeiter*innen der
    Wissenschaftler*innen – auf alle Fälle heißt es, zuerst mal ein paar Tage zu
    Hause bleiben. Und wenn Du mal das Virus hattest, bist Du zumindest eine
    Zeit lang dagegen immun. Das ist auch nicht schlecht. Wie lange allerdings
    ist auch wieder eine Frage, die wir noch untersuchen müssen, weil wir die
    genaue Antwort noch nicht kennen.</p>
<p><strong>In meinem Speichel befindet sich kein Coronavirus: Yeah!</strong></p>
<p>Glück gehabt, könnte man sagen. Denn zumindest an dem Tag, an dem wir Deinen
    Speichel untersucht haben, war kein Coronavirus drin. Aber wie gesagt, das
    Virus kommt und geht – das heißt, Du kannst schon am nächsten Tag das Virus
    kriegen. Das Gute ist, dass Du das vermeiden kannst: Wenn Du Dich sorgfältig
    an die Regeln hältst, mit Maske, Abstand, Händewaschen und allem, wie es in
    der Schule gesagt wird, dann ist es eher unwahrscheinlich, dass Du Dich
    ansteckst. Und vielleicht finden wir Wissenschaftler*innen einen Weg, wie
    wir diese Hygiene- und Abstandsregeln lockern können, ohne dass das Risiko
    für eine Ansteckung größer wird. Zum Beispiel weil jetzt die Leute besser
    wissen, ob sie das Coronovirus haben und in dieser Zeit so vorsichtig sind,
    dass sie niemanden anstecken.</p>
<p><strong>Und jetzt noch ein paar wichtige Dinge zum Schluss,</strong>
    <strong>zum Schutz Deiner Daten</strong></p>
<p>Bei unserem Corona-Test geht es nur darum, ob in den Speichelproben der Leute
    das Coronavirus drin ist, oder eben nicht. Darum trägt die Probe auch eine
    Nummer und nicht Deinen Namen – und wenn wir mit der Probe arbeiten wissen
    wir gar nicht, von wem die Probe kommt. Nur wenn wir darin das Virus finden,
    können wir die Nummer einer Ärztin oder einem Arzt geben. Die können dann
    damit in einer Datenbank, in der Deine Adresse verschlüsselt gespeichert
    ist, nachschauen, wer Du bist. Die Ärztin oder der Arzt werden Dich
    kontaktieren, um Dir zu sagen was Du jetzt tun musst. Aber wie gesagt, die
    meisten Leute haben das Coronavirus nicht – also gibt es eine gute Chance,
    dass Du nie was von ihnen hörst (was eigentlich schade ist, weil sie nett
    sind und alle Deine Fragen beantworten können).</p>
<p>Was geschieht dann mit Deiner Probe? Nachdem wir wissen, ob Deine
    Speichelprobe Coronaviren enthält oder nicht werfen wir sie einfach weg.</p>
<p><strong>Und noch etwas wichtiges ganz zuletzt – Deine Einwilligung</strong>
</p>
<p>Wir müssen wissen, ob Du damit einverstanden bist, dass wir Deinen Speichel
    auf das Coronavirus untersuchen. Wenn Du einverstanden bist, dann können
    Deine Eltern für Dich unterschreiben.</p>
<p><strong>Wer sind wir?</strong></p>
<p>Die Studie wird von einem Team der Universität Heidelberg durchgeführt. Eine
    Liste der beteiligten Wissenschaftler*innen findest Du hier: [Link
    einfügen]. Außerdem werden wir von den örtlichen Gesundheitsämtern
    unterstützt. Wie oben erklärt, erhalten diese die Kontaktdaten und
    informieren Personen mit positivem Testergebnis. Die Studie wird finanziert
    aus Mitteln des Bundesministeriums für Bildung und Forschung.</p>
<p><strong>Hast Du noch Fragen?</strong></p>
<p>Wenn Du noch Fragen hast, dann kannst Du uns hier erreichen: Herr/Frau …
    (Telefon: …, E-Mail: …)</p>
