<p><strong>Studie zu neuartigen Corona-Teststrategien für die
        Allgemeinbevölkerung</strong></p>
<p><strong>Teilnahme an der Corona-Forschungsstudie: Informationsschrift für
        Erwachsene</strong></p>
<p>Sehr geehrte Interessierte, sehr geehrte Teilnehmerin, sehr geehrter
    Teilnehmer,</p>
<p>wir, das Universitätsklinikum Heidelberg, möchten Sie zur Teilnahme an
    unserer Corona-Forschungsstudie einladen. Die Studie wird vom
    Bundesministerium für Bildung und Forschung finanziert, von einem Team der
    Universität Heidelberg im Rahmen des Nationalen Forschungsnetzwerkes der
    Universitätsmedizin zu Covid-19 durchgeführt und von den örtlichen
    Gesundheitsämtern unterstützt. Die vorliegende Informationsschrift erklärt
    den Sinn und Zweck dieser Studie, an der Personen im Alter ab 7 Jahre
    teilnehmen können.</p>
<p><strong>Worum geht es bei dieser Studie?</strong></p>
<p>Das neuartige Coronavirus, wissenschaftlich SARS-CoV-2 genannt, hat uns alle
    vor große Herausforderungen gestellt und wir mussten uns in den letzten
    Monaten wegen der Pandemie stark einschränken. Aktuell wird auf steigende
    Fallzahlen in der Regel mit einer Verschärfung der Maßnahmen reagiert. Das
    liegt vor allem daran, dass auch viele Personen ohne Symptome das Virus
    unerkannt weitertragen und damit nicht rechtzeitig lokal begrenzt reagiert
    werden kann. Dafür bräuchte es eine Strategie, die frühzeitig auch
    infizierte Personen ohne Symptome erkennen kann. Wir erproben ein Verfahren
    hierzu, und möchten Sie um Ihre <em>freiwillige</em> Mithilfe bitten.</p>
<p><strong>Wie werden die Teilnehmer*innen</strong> <strong>der Studie
        ausgewählt?</strong></p>
<p>Für die Teilnahme an der Corona-Forschungsstudie wurden Sie zufällig aus den
    Adressen Ihrer Gemeinde ausgewählt und zufällig einer der 4 Strategien, die
    wir im Rahmen der Corona-Forschungsstudie testen wollen, zugeteilt. Weil die
    Studie im öffentlichen Interesse stattfindet, durfte nach § 46
    Bundesmeldegesetz eine Melderegisterauskunft über eine Vielzahl von Personen
    erteilt werden. Die Zufallsauswahl hat das Institut für Globale Gesundheit
    der Universität Heidelberg zusammen mit dem Leibniz-Institut für
    Sozialwissenschaften in Mannheim (GESIS) durchgeführt. Die Ethikkommission
    der Universität Heidelberg hatte bei der berufsrechtlichen Beratung keine
    Bedenken gegen die Durchführung der Studie. Die Anforderungen des
    Datenschutzes sind gewährleistet (mehr zum Datenschutz siehe Verweis auf
    Seite XY).</p>
<p>Nach der Zufallsauswahl erfolgte auch die Einteilung in eine der 4
    Test-Strategien: Wir vergleichen das Testen von Einzelpersonen (1) mit dem
    Testen von ganzen Haushalten (2) sowie das sofortige Testen (3) mit dem
    Testen nach einer vorgeschalteten Abfrage von Symptomen (4).</p>
<p><strong>Wie wird aktuell normalerweise auf das Virus getestet?</strong></p>
<p>Normalerweise werden nur Personen, die Covid-19 Symptome haben oder zu
    Risikogruppen zählen, zum Gesundheitsamt Hausarzt oder zur Hausärztin zu
    einem Rachenabstrich gebeten. Dabei führt eine medizinische Fachkraft eine
    Art Wattestäbchen durch den Mund oder die Nase zur Rückwand des Rachens und
    streicht dort Material (Sekret und Zellen) ab. In einem medizinischen Labor
    wird die Probe dann auf Vorhandensein des Coronavirus getestet. Die dabei
    verwendete Labortechnik nennt man &quot;qPCR&quot;.</p>
<p><strong>Was möchten wir im Zuge der neuartigen Teststrategie anders
        machen?</strong></p>
<p>Wir wollen zufällig Personen aus der Allgemeinbevölkerung testen, damit wir
    auch mit dem Coronavirus infizierte Personen ohne bzw. mit frühen Symptomen
    entdecken können. Wir werden dabei 2 Ansätze anwenden:</p>
<p>1. <em>Wir möchten Speichel statt Rachenabstrich verwenden.</em> Das hat
    mehrere Vorteile:</p>
<p>a) Ein Rachenabstrich ist ziemlich unangenehm. In ein kleines Gefäß zu
    spucken ist viel einfacher und angenehmer.<br />
    b) Eine Speichelprobe können Sie ganz einfach zu Hause selbst durchführen.
    In der Broschüre und in einem kurzen Video (Hinweis auf Link zum Video)
    erklären wir Ihnen, wie Sie vorgehen müssen.</p>
<p>2. Auch im Labor möchten wir ein anderes Analyse-Verfahren verwenden.</p>
<blockquote>
    <p>Statt des üblichen &quot;qPCR&quot;-Verfahrens verwenden wir eine neu
        entwickelte Alternative, die &quot;LAMP&quot; genannt wird und technisch
        deutlich einfacher ist. Beide Laborverfahren sind nicht perfekt: Wenn
        die Proben nur wenige Viren enthalten, können sie eine Infektion
        übersehen.</p>
    <p>Das LAMP-Verfahren ist momentan noch eine Forschungsmethode, das in den
        letzten Monaten stark verbessert wurde, so dass es inzwischen ähnlich
        sensitiv ist wie das übliche „qPCR“-Verfahren. Dennoch besitzt man noch
        nicht so viel Erfahrung mit der LAMP-Methode. Darum ist ein negatives
        Resultat einer RT-LAMP Reaktion ein klein bisschen weniger verlässlich
        als ein mit der etablierten qPCR-Methode ermitteltes Ergebnis. Wir
        können allerdings mit dem LAMP-Test infektiöse Personen sehr gut
        identifizieren und das Virus zum Teil auch noch 1 bis 2 Wochen, nachdem
        Covid-19-Patient*innen keine Symptome mehr haben, gut nachweisen. Ebenso
        können wir das Virus schon 1 bis 2 Tage, bevor Symptome entwickelt
        werden, nachweisen: Mit derselben Labor-Kapazität und derselben Anzahl
        an Labortechniker*innen sind wir in der Lage, sehr viel mehr Personen zu
        testen, als mit dem qPCR-Test möglich wäre.</p>
    <p>(Eine gute Übersicht auf Englisch über den aktuellen Stand zum Thema qPCR
        und alternativen Testmethoden findet sich unter:</p>
    <p>https://rnajournal.cshlp.org/content/26/7/771.long)</p>
</blockquote>
<p><strong>Wie läuft die Teilnahme ab?</strong></p>
<ol style="list-style-type: decimal">
    <li>
        <p>Zunächst sollten Sie diese Informationsschrift aufmerksam lesen und
            überlegen, ob Sie mit allem einverstanden sind und ob Sie an der
            Corona-Forschungsstudie teilnehmen möchten. Füllen Sie dann bitte die beiliegende
            Einwilligungserklärung aus. Bitte geben Sie dabei Ihre Telefonnummer
            oder E-Mail-Adresse an, damit das Gesundheitsamt Sie im Falle eines
            positiven Tests kontaktieren und die weiteren Maßnahmen mit Ihnen
            besprechen kann.</p>
    </li>
    <li>
        <p><strong>Bewahren Sie
                den Zugangs-Code oben rechts auf dem Anschreiben auf, diesen
                benötigen<br />
                Sie für die Ergebnisabfrage im Internet oder am
                Telefon!</strong></p>
    </li>
    <li>
        <p>Bitte entnehmen Sie der Broschüre die Anleitung zur Speichelprobe
            oder sehen Sie sich ein kurzes Video <em>[Link zum Video hier]</em>
            an, das Ihnen zeigt, wie genau Sie die Speichelprobe abgeben sollen.
        </p>
    </li>
    <li>
        <p>Legen Sie sich die
            beigelegten Materialien für die Abgabe der Speichelprobe zurecht und
            geben Sie dann die Speichelprobe wie in der Broschüre bzw. im Film
            gezeigt ab.</p>
    </li>
</ol>
<p><strong>WICHTIG! Geben Sie die Speichelprobe nach Möglichkeit vor dem
        Frühstück und vor dem Zähneputzen ab. Damit ist der Test</strong>
    <strong>genauer.</strong></p>
<ol style="list-style-type: decimal">
    <li>
        <p>Schließlich senden Sie
            uns <strong>das Röhrchen zusammen mit der Einwilligungserklärung
                (und falls Sie auch einen Fragebogen erhalten haben, nach
                Möglichkeit auch diesen)</strong> kostenlos per Post zu. Die Rücksendung darf nur
            mit dem für den Probenversand geeigneten beiliegenden Rückumschlag
            erfolgen. Instruktionen finden Sie in unserem Internetauftritt (Link
            zum Internetauftritt) und im Anschreiben.</p>
    </li>
</ol>
<p>Die Teilnahme an der Corona-Forschungsstudie sollte Sie den Zeitaufwand von
    etwa 10 bis 20 Minuten kosten.</p>
<p><strong>Was geschieht, wenn wir in Ihrer Probe das Coronavirus nachweisen
        können?</strong></p>
<p>Wenn wir mit unserem Test das Virus in Ihrer Probe nachweisen können
    (positives Resultat), dann erhalten Sie ein <em>vorläufiges</em> Ergebnis
    und wir werden das Resultat nochmals mit der etablierten qPCR-Methode
    überprüfen. Sie brauchen dazu keinen Rachenabstrich abgeben, wir werden
    diese Analyse ebenfalls mit der von Ihnen bereits vorliegenden Speichelprobe
    durchführen. Falls auch der qPCR-Test positiv ist, teilen wir dem
    Gesundheitsamt das Testergebnis mit. Die Übermittlung der positiven Fälle
    ist erforderlich, weil Covid-19 eine meldepflichtige Krankheit ist. Das
    Gesundheitsamt kontaktiert Sie dann und informiert Sie über das bestätigte
    positive Testergebnis und über weitere Maßnahmen. Typischerweise wird das
    Gesundheitsamt Sie auffordern, sich in häusliche Quarantäne zu begeben und
    versuchen, mit Ihnen zusammen die Personen zu ermitteln, die Sie angesteckt
    haben könnten.</p>
<p><strong>Was bedeutet es, wenn wir in Ihrer Probe kein Virus finden?</strong>
</p>
<p>Sie können das Ergebnis auch selbst in unserem Internetauftritt abfragen
    (Link: [Link hier]) oder können es bei der Telefonauskunft der Studie
    (Telefonnummer 06221 522-2399 von xxx bis xxxx (Uhrzeit und Tagen) erfragen.
    Auch wenn es negativ sein sollte (kein Virus nachgewiesen), ist das dennoch
    keine völlige Entwarnung. Es gibt keinen hundertprozentig genauen Test. Die
    hier verwendete Test-Methode ist eine Forschungsmethode, deren Genauigkeit
    noch nicht abschließend geklärt ist. Erste Untersuchungen deuten jedoch
    darauf hin, dass die Genauigkeit im Bereich der der etablierten PCR-Methode
    liegt. </p>
<p>Doch auch wenn Sie im Moment der Speichelprobe nicht infiziert waren, heißt
    das nicht, dass Sie sich nicht vielleicht schon kurze Zeit später infiziert
    haben könnten. Oder Sie hatten sich bereits kurz vorher infiziert, aber das
    Virus hatte sich noch nicht hinreichend vermehrt, um nachweisbar zu sein.
    Der Test gibt nur Information über die aktuelle Situation zur Zeit der
    Probenentnahme. Deshalb entbindet dieser Test keineswegs vor den
    vorgegebenen öffentlichen Hygiene- und Schutzmaßnahmen und wir bitten Sie,
    diese auch weiterhin sorgfältig einzuhalten.</p>
<p><strong>Wenn die Studie erfolgreich ist, was nutzt das uns allen?</strong>
</p>
<p>Jede Person, die teilnimmt, trägt dazu bei, dass wir die Pandemie-Situation
    langfristig für ganz Deutschland bewerkstelligen können und so wenig weitere
    großflächige Beschränkungen des öffentlichen Lebens wie möglich und nötig
    riskieren müssen.</p>
<p><strong>Was nutzt die Teilnahme Ihnen selbst?</strong></p>
<p>Falls Sie tatsächlich mit dem Coronavirus infiziert sind, besteht eine gute
    Chance, dass der Test dies auch feststellt. Wenn Sie wissen, dass Sie
    infiziert sind, können Sie sich in häusliche Quarantäne begeben, und so Ihre
    Familie, Ihre Freund*innen, Kolleg*innen und Mitmenschen vor Ansteckung
    schützen. Außerdem wissen Sie vielleicht etwas früher als sonst, was Ihnen
    fehlt, falls die Krankheit schwerer verlaufen sollte. Wenn das Testergebnis
    negativ ist, kann Ihnen dies aber leider keinen &quot;Freibrief&quot; geben,
    die Abstands- und Hygieneregeln nun weniger ernst zu nehmen: Sie können sich
    dennoch jederzeit infizieren.</p>
<p><strong>Birgt die Teilnahme Risiken für Sie?</strong></p>
<p>Die Abgabe einer Speichelprobe birgt keinerlei Risiken für Sie. Das
    Probengefäß ist mit steriler Kochsalzlösung gefüllt, sein Inhalt ist also
    ungefährlich. Alle mitgelieferten Materialien sind lebensmittelecht und
    können ohne besondere Ansprüche gelagert werden.</p>
<p>Manche Menschen können die Abgabe der Speichelprobe für diese Studie als
    unangenehm empfinden. Es besteht ein geringes Risiko für kurzzeitige
    Beschwerden. Die Teilnehmenden berichten in seltenen Fällen über leichte
    Übelkeit kurz nach dem Gurgeln oder eine kurzzeitig verstopfte Nase nach dem
    Räuspern.</p>
<p><strong>Wer führt die Studie durch und wer finanziert sie?</strong></p>
<p>Die Studie wird von einem Team der Universität Heidelberg im Rahmen des
    Nationalen Forschungsnetzwerkes der Universitätsmedizin zu Covid-19
    durchgeführt. Außerdem werden wir von den örtlichen Gesundheitsämtern
    unterstützt. Die Studie wird vom Bundesministerium für Bildung und Forschung
    finanziert (also somit indirekt von Ihnen allen, den steuerzahlenden
    Bürger*innen, vielen Dank!).</p>
<p><strong>Wer soll teilnehmen?</strong></p>
<p>Alle, denen ein Teströhrchen zugesandt wird, sind gebeten, an der Studie
    teilzunehmen. Voraussetzung für die Teilnahme ist auch die Erklärung, dass
    Sie sich durch die hier vorliegenden Erläuterungen ausreichend informiert
    fühlen, und mit dem beschriebenen Vorgehen einverstanden sind.</p>
<p><strong>Wie gewährleisten wir den Schutz Ihrer Daten?</strong></p>
<p>Wir, das Team der Universität Heidelberg, haben über das Gesundheitsamt bei
    allen Gemeinden im Rhein-Neckar-Raum um Adressen für die Studie gebeten,
    Ihre Adresse wurde dabei mit einem Zufallsverfahren ausgewählt. Die
    Adressdaten verwenden wir nur für die Kontaktaufnahme und die Zuordnung der
    Speichelproben zu den Personen, Ihre Daten werden nicht weitergegeben. Die
    Verarbeitung der Speichelproben erfolgt nur über die auf den Teströhrchen
    aufgeklebten Codes (das nennt man pseudonymisiert). Die positiven Befunde
    werden ebenfalls pseudonymisiert an das Gesundheitsamt übermittelt. Dort hat
    eine einzelne autorisierte Datenbeauftragte bzw. -beauftragter die
    Möglichkeit, die Namen, Telefonnummern und E-Mail-Adressen (falls angegeben)
    zu den Codes zuzuordnen. Die Übermittlung der positiven Fälle ist
    erforderlich, da Covid-19 eine meldepflichtige Krankheit ist. Die an der
    Universität durchgeführten wissenschaftlichen Analysen erfolgen nur anhand
    der pseudonymisierten Codes, eine Zuordnung von Namen und Adressen ist nicht
    möglich.</p>
<p><strong>Verantwortliche für die Verarbeitung Ihrer Daten</strong></p>
<p>Dr. Simon Anders, Zentrum für Molekulare Biologie der Universität Heidelberg
    (ZMBH), Im Neuenheimer Feld 324, 69120 Heidelberg</p>
<p><strong>Nutzung der Daten</strong></p>
<p>Die Erhebung, Speicherung und Verarbeitung Ihrer Daten erfolgt gemäß den
    datenschutzrechtlichen Bestimmungen der Datenschutzgrundverordnung (DSGVO)
    sowie den Datenschutzstandards der Europäischen Union. Ihre Kontaktdaten
    werden nur zur Kontaktaufnahme für die Studienrekrutierung verwendet. Wenn
    die Speichelproben bei uns eingegangen sind und die Testergebnisse
    vorliegen, wird ein sehr kleiner Teil der Teilnehmer*innen noch einmal
    kontaktiert und zu ihren Erfahrungen befragt. Danach werden Ihre Daten
    pseudonymisiert, d. h. alle Namen, Adressdaten, und (falls vorliegend)
    Telefonnummern und E-Mail-Adressen werden aus Ihrem Datensatz entfernt,
    lediglich das Gesundheitsamt kann auf diese Daten im Falle eines positiven
    Tests zur Kontaktaufnahme zurückgreifen. Alle wissenschaftlichen Analysen
    erfolgen mittels der pseudonymisierten Daten. Eine menschliche Gen-Analyse
    wird nicht durchgeführt, wir nutzen lediglich die Coronaviren-Genschnipsel
    in Ihrer Speichelprobe.</p>
<p><strong>Informationen zum Datenschutz</strong></p>
<p>Falls Sie nicht an dieser Studie teilnehmen möchten, werden Ihre Kontaktdaten
    (Name, Adresse und ggf. Telefonnummer und E-Mail-Adresse) am Ende der Studie
    aus unserem Verzeichnis gelöscht. Während der Studie werden keine
    medizinischen Befunde erhoben. Die Adressdaten werden in einer Datenbank,
    die nur den autorisierten Datenbeauftragten an der Universität und beim
    Gesundheitsamt zugänglich ist, gespeichert. Zusätzlich werden Informationen
    zu Ausgabeort, -datum und -uhrzeit des Teströhrchens erhoben, die mit dem
    ausgegebenen Code auf dem Teströhrchen verknüpft sind. Für die Meldung ans
    Gesundheitsamt im Falle eines positiven Testergebnisses erfragen wir zudem
    Ihre Telefonnummer und/oder E-Mail-Adresse. Die Studienleitung wird alle
    angemessenen Schritte unternehmen, um den Schutz Ihrer Daten gemäß den
    Datenschutzstandards der Europäischen Union zu gewährleisten. Die Daten sind
    gegen unbefugten Zugriff verschlüsselt gesichert. Die während der Studie
    erhobenen Namen, Adressdaten, Telefonnummern und E-Mail-Adressen werden nach
    Studienabschluss vernichtet.</p>
<p><strong>Verwendung der Daten und zukünftige Studien:</strong> Alle
    Forschungsdaten können auch in zukünftigen Studien über Coronaviren und
    andere respiratorische Viren verwendet und/oder in wissenschaftlichen
    Zeitschriften veröffentlicht werden. Eine Sequenzierung des menschlichen Genoms findet
    nicht statt. Die Speichelproben werden nach Vorliegen des Test-Ergebnisses
    vernichtet. Die aufbewahrten Daten werden keine Informationen enthalten, die
    Sie als Teilnehmer*in an dieser Studie identifiziert. Die Daten sind vor
    unberechtigtem Zugriff geschützt. Sie können die Verwendung Ihrer Daten für
    zukünftige Forschungszwecke im Zusammenhang mit Coronaviren bzw. anderen
    Atemwegsviren in der Einverständniserklärung ablehnen.</p>
<p>Sie haben das Recht, vom Verantwortlichen (s. u.) Auskunft über Ihre
    gespeicherten personenbezogenen Daten zu verlangen. Ebenfalls können Sie die
    Berichtigung unzutreffender Daten sowie die Löschung der Daten oder die
    Einschränkung ihrer Verarbeitung verlangen.</p>
<p>Der Verantwortliche für die studienbedingte Erhebung personenbezogener Daten
    ist:</p>
<p>Dr. Simon Anders, Zentrum für Molekulare Biologie der Universität Heidelberg
    (ZMBH), Im Neuenheimer Feld 324, 69120 Heidelberg</p>
<p>Bei Anliegen zur Datenverarbeitung und zur Einhaltung der
    datenschutzrechtlichen Anforderungen können Sie sich an folgenden
    Datenschutzbeauftragten der Einrichtung wenden:</p>
<p>Universitätsklinikum Heidelberg, Datenschutzbeauftragte(r)</p>
<p>Im Neuenheimer Feld 672, 69120 Heidelberg</p>
<p>Tel: +49 6221 56 7036, E-Mail: datenschutz@med.uni-heidelberg.de</p>
<p>Im Falle einer rechtswidrigen Datenverarbeitung haben Sie das Recht, sich bei
    der folgenden Aufsichtsbehörde zu beschweren:</p>
<p>Der Landesbeauftragte für den Datenschutz und die Informationsfreiheit
    Baden-Württemberg</p>
<p>Postfach 10 29 32, 70025 Stuttgart</p>
<p>Tel.: 0711/61 55 41 – 0, Fax: 0711/61 55 41 – 15, E-Mail:
    poststelle@lfdi.bwl.de</p>
<p>Internet: <a href="http://www.baden-wuerttemberg.datenschutz.de"
        class="uri">http://www.baden-wuerttemberg.datenschutz.de</a></p>
<p><strong>Ist die Teilnahme freiwillig? Können Sie Ihre Zustimmung widerrufen?
    </strong></p>
<p><em>Die Teilnahme ist freiwillig und kostenlos.</em> Eine
    Aufwandsentschädigung ist leider nicht möglich. Falls Sie an der Studie
    teilnehmen möchten, bitten wir Sie, die Einwilligungserklärung zu
    unterschreiben. Sie können diese Einwilligung jederzeit schriftlich oder
    mündlich ohne Angabe von Gründen widerrufen, ohne dass Ihnen dadurch
    Nachteile entstehen. Bei einem Widerruf werden Ihre persönlichen Daten
    gelöscht, so dass das Ergebnis Ihrer Probe Ihnen nicht mehr zugeordnet
    werden kann. Bei Rücktritt von der Studie kann auf Wunsch bereits gewonnenes
    Material vernichtet werden. Sollte Ihre Probe aber bereits analysiert worden
    sein, z. B. weil Sie sich zu spät gemeldet haben, und der Test sollte sich
    als positiv erweisen, werden wir den Code der Probe dennoch an das
    Gesundheitsamt übermitteln, da wir aufgrund der Meldepflicht dazu
    verpflichtet sind. Wenn Sie nicht teilnehmen möchten, füllen Sie einfach das
    Formular nicht aus und werfen das Teströhrchen weg.</p>
<p><strong>Haben Sie noch Fragen?</strong></p>
<p>Für weitere Informationen sowie für Auskünfte über allgemeine Ergebnisse und
    den Ausgang der Studie steht Ihnen als Leiter/Leiterin der Studie Herr/Frau
    … (Telefon: …, E-Mail: …) zur Verfügung. Des Weiteren können Sie Information
    auf der Studienwebseite www.Xxxx.de und bei unserer Telefonauskunft der
    Corona-Forschungsstudie unter der Rufnummer 06221 522-2399 von xxx bis xxxx
    (Uhrzeit und Tagen) erhalten.</p>
<p><strong>Wir wären Ihnen für Ihre Teilnahme an diesem wichtigen
        Forschungsprojekt sehr dankbar!</strong></p>
