{% extends "public/base.html" %}
{% load i18n %}

{% block content %}
<div style="text-align: center;" class="ui segment content">
    <h2 class="ui header">
        {% blocktrans %}Anleitung Probennahme{% endblocktrans %}
    </h2>

    <p>{% blocktrans %}Bitte sehen Sie sich das folgende kurze Video an, um zu erfahren,
        was Sie nun machen müssen.{% endblocktrans %}</p>

    <div class="video-responsive">
        <!-- <iframe width="560" height="315" src="media/sample.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe src="https://player.vimeo.com/video/418715192?title=0&byline=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>`-->


        <iframe
                width="800"
                height="440"
                src="https://player.vimeo.com/video/480702586"
                allow="autoplay; fullscreen" allowfullscreen
        >
        </iframe>
    </div>
    <br/><br/>
    <p>
        {% blocktrans %}Wenn Sie das Röhrchen befüllt haben, wie im Video gezeigt, leiten Sie uns das Röhrchen bitte zu.{% endblocktrans %}
    </p>
    <div id="return">

    </div>
    <p>{% blocktrans %}Vielen Dank für Ihre Teilnahme.{% endblocktrans %}</p>
    <p>
        {% blocktrans %}Morgen oder übermorgen können Sie Ihr Ergebnis auf dieser Seite abfragen.{% endblocktrans %}
    </p>
    <p>
        <code class="url"><a href="https://covidtest-hd.de/results"
        >https://covidtest-hd.de/results</a></code>
    </p>
    <p>
        {% blocktrans %}Notieren Sie sich dazu Ihren Zugangscode.{% endblocktrans %}
    </p>
    {% if name and address and contact and access_code and offer_certificate %}
    <h3>{% blocktrans %}NEU: Bitte auf folgenden Button klicken um ein Zertifikat des Tests runterzuladen{% endblocktrans %}</h3>
    <span>{% blocktrans %}Nach dem verlassen dieser Seite ist dies nicht mehr möglich{% endblocktrans %}</span>
    <form action="{% url 'app:get_certificate' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="name" value="{{ name }}">
      <input type="hidden" name="address" value="{{ address }}">
      <input type="hidden" name="contact" value="{{ contact }}">
      <input type="hidden" name="access_code" value="{{ access_code }}">
      <button class="ui button red" style="margin-top: 20px">{% blocktrans %}Testzertifikat Herunterladen{% endblocktrans %}</button>
    </form>
    {% endif %}
</div>
{% endblock %}
