{% extends "public/base.html" %}
{% load i18n %}
{% load semanticui %}

{% block content %}
<form class="ui form" action="{% url 'app:register' %}" method="post">
    {% csrf_token %}

    <h1 class="ui header">
        {% blocktrans %}Bitte registrieren Sie ihr Testkit:{% endblocktrans %}
    </h1>

    <p>
        {% blocktrans %}
        Die Registrierung ist notwendig, damit Sie im Falle eines positiven Testergebnisses kontaktiert werden
        können.
        {% endblocktrans %}
        {% blocktrans %}Falls wir das Virus in Ihrer Probe nachweisen sollten, muss
        das Gesundheitsamt Sie erreichen können. Geben Sie daher bitte Ihre
        Kontakt-Daten an: {% endblocktrans %}
    </p>

    {% blocktrans %}<p>Datenschutz-Hinweis: Ihr Name und Ihre Kontaktdaten werden streng vertraulich behandelt. Nur die Mitarbeiter des Gesundheitsamts haben darauf Zugriff.</p>{% endblocktrans %}

    {% render_form form _help=1 %}


    <div>
        <a
                href="{% url 'app:index' %}"
                id="closeform"
                class="ui primary button"
                style="margin-left: 0"
        >{% blocktrans %}Abbrechen{% endblocktrans %}</a
        >
        <button type="submit" class="ui primary button">
            {% blocktrans %}Daten abschicken{% endblocktrans %}
        </button>
    </div>
</form>
{% endblock %}
