<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virusdetektiv | Testzertifikat</title>
  <style>
      .main-body {
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
          width: 595px;
          height: 842px;
          font-size: 14px;
      {#background-color: #C7C7C7;#}
      }

      .attention {
          font-weight: bold;
      }
  </style>
</head>
<body>
{% load static %}
<div class="main-body">
  <div style="float: left;">
    <p>
      <span style="font-weight: bold; font-size: 15px">Zentrum für Molekulare Biologie der Universität Heidelberg</span><br>
      LAMP-Teststation<br>
      Leitung: Prof. Dr. Michael Knop, Dr. Simon Anders<br>
      coronatest@uni-heidelberg.de | https://coronatest-hd.de
    </p>
  </div>
  <img src="{% static 'media/uni_logo.svg' %}" style="float: right; height: 90px">
  <div style="clear: both;">
    <div style="text-align: center; padding-top: 30px; padding-bottom: 10px">
      <p style="text-decoration: underline; font-weight: bold">LAMP-Test auf Covid-19</p>
    </div>
    <p>Hiermit wird bestätigt, dass Herr/Frau</p>
    <p class="attention" style="text-align: center; padding-top: 10px; padding-bottom: 10px">{{ name }} Max
      Mustermann (EXCLUDE)</p>
    <p>eine Rachenspülwasser-Probe ("Gurgelprobe") eingereicht hat zur Untersuchung auf SARS-Cov-2 ("Covid19-Virus")
      durch Nukleinsäurenachweis im LAMP-Verfahren.</p>
    <div style="text-align: left">
      <span style="padding-bottom: 10px">Der folgende QR-Code zeigt das Ergebnis der Untersuchung:</span>
    </div>
    <div style="padding-top: 30px; margin-left: 100px">
      <div style=" width: 30%">
        <img src="data:image/png;base64,{{ qr_img|safe }}" style="float: left; height: 130px">
      </div>
      <p class="attention" style="float:right; width: 70%; justify-content: center; padding-top: 40px">← Code scannen,
        um Ergebnis zu prüfen</p>
    </div>
    <div style="clear: both; padding-top: 30px">
      <span style="text-decoration: underline">weitere Angaben:</span>
      <ul>
        <li>Barcode der Probe: <span class="attention">{{ barcode }}</span></li>
        <li>Adresse und Telefonnummer der getesteten Person (laut Eigenauskunft): {{ address }}</li>
        <li>Datum und Uhrzeit der Proben-Registrierung: <span class="attention">{{ registered_on }}</span></li>
      </ul>
      <div style="padding-top: 40px">
        <span style="text-decoration: underline">Hinweise:</span>
        <ul>
          <li>Die Analyse erfolgt mit dem LAMP-Verfahren, einer Variante der PCR, und ist daher deutlich sensitiver als
            Antigen-Schnelltests.
          </li>
          <li>Die Analyse erfolgt im Rahmen eine Forschungsstudie der Universität und Universtitätklinik. Da es sich um
            eine Forschungsstudie handelt, ist unser Test nicht formell nach Medizinproduktegesetz zertifiziert. Die
            Regeln guter wissenschaftlciher Laborpraxis werden natürlich eingehalten.
          </li>
          <li>Die Probanden füllen das Rachenspülwasser selbst in das Probenröhrchen, geben dieses ab und teilen dem
            Labor per Webformular ihren Namen mit. Wir können daher nicht überprüfen, ob die Probe wirklich von der o.g.
            Person abgegeben wurde. Ebenso können wir nicht überprüfen ob die Probe zeitgleich mit der Registrierung
            genommen wurde.
          </li>
          <li>Um die Echtheit des Untersuchungsergebnisses zu prüfen, scannen Sie bitte den QR-Code, vergleichen den
            dann angezeigten Code mit dem hier aufgedruckten Code. Überprüfen Sie auch das Sicherheits-Zertifikat der
            Webseite (https://coronatest-hd.de).
          </li>
          <li>Der o.g. Zeitpunkt gibt an, wann die getestete Person ihre Probe auf der Webseite registriert hat, und
            nicht, wann sie den Gurgeltest durchgeführt hat.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>