{% load i18n %}
<footer class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui horizontal small divided link list">
            <a class="item" href="{% url 'app:pages' page='data-protection.html' %}">{% blocktrans %}Datenschutz{% endblocktrans %}</a>
            <a class="item" href="{% url 'app:pages' page='impressum.html' %}"
            >{% blocktrans %}Impressum{% endblocktrans %}</a>
            <div style="position: relative; top: 10px;" class="item">
            {% get_language_info_list for LANGUAGES as languages %}
            {% if languages|length > 1 %}
            <form style="padding: -10px; color: #000; float: right; font-size: 13pt; color: rgba(0,0,0,.4)" action="{% url 'set_language' %}" method="post" class="ui simple dropdown item language">
                {% csrf_token %}
                <i style="color: rgba(0,0,0,.4); position:relative; top: 0px;" class="globe icon"></i>
                <span style="color: rgba(0,0,0,.4); position: relative; top: 0px;">Language <i class="dropdown icon"></i></span>
                <div class="menu">
                    {% for language in languages %}
                        <button name="language" value="{{ language.code }}" class="item">
                            {% if language.code == LANGUAGE_CODE %}
                                <b>{{ language.name_local }}</b>
                            {% else %}
                                {{ language.name_local }}
                            {% endif %}
                        </button>
                    {% endfor %}
                </div>
            </form>
            {% endif %}
            </div>
        </div>
    </div>
</footer>
